/* ==========================================================================
   archive css
   ========================================================================== */

.archive {
   @media (min-width: $min-large-width) {
      float: right;
      width: calc(100% - #{$category-list-width + 2});
   }

   &__subtitle {
      margin: 2rem 0 .5rem;
      font-family: $default-font03;
      font-weight: 700;
      font-size: 1.8rem;
      color: $black02;
      letter-spacing: -1px;
   }

   &__item {
      position: relative;
      
      @media (min-width: $min-medium-width) {
         @include clearfix;
   
         &-content {
            margin-top: .5rem;
         }
      }
   
      &-title {
         margin-bottom: .5rem;

         > a {
            display: block;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.5;
            color: $black02;
   
            &:before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               z-index: 1;
            }

            @media (min-width: $min-small-width) {
               font-size: 1.4rem;
            }

            @media (min-width: $min-large-width) {
               &:hover {
                  text-decoration: underline;
                  color: $black03;
               }
            }
         }
      }
   
      &-subtitle {
         display: block;
         margin-top: .604167em;
         margin-bottom: .604167em;
         color: $sub-color03;
         font-weight: 400;
         font-size: 1.111111rem;
         line-height: 1.3;
   
         &:before {
            content: "";
            display: inline-block;
            width: .95rem;
            height: 1px;
            margin-right: .291666em;
            background-color: $sub-color03;
            vertical-align: .29em;
         }

         @media (min-width: $min-small-width) {
            font-size: 1.2rem;
         }
      }
   
      &-content {
         // @include multiple-ellipsis(3);
         overflow: hidden;
         max-height: 5.25rem;
         margin-top: 0;
         margin-bottom: .7rem;
         line-height: 1.875;
         font-size: .95rem;

         @media (min-width: $min-medium-width) {
            &.has-dropcap {
               display: flow-root;

               &:first-letter {
                  float: left;
                  margin-top: .4rem;
                  margin-right: .3rem;
                  margin-left: .5rem;
                  font-size: 2.8rem;
                  line-height: 1;
                  color: #c44;
               }
            }
         }
      }

      &__info-item {
         @include post-info-item;
         margin-right: .3rem;
      
         &--tag {
            @include post-info-item-tag;
         }

         &-wrapper {
            display: flex;
            flex-wrap: wrap;

            > a {
               @media (min-width: $min-large-width) {
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }
         }
      }
   }

   &__item-thumb {
      display: none;
   
      @media (min-width: $min-medium-width) {
         display: flex;
         overflow: hidden;
         float: right;
         width: 11rem;
         height: 5rem;
         margin: 0 0 0 1rem;
         border: 1px solid $black;
         border-radius: .25rem;
         background-color: $grey12;
         box-shadow: rgba(0,0,0,.2) .25rem .25rem .5rem;
         box-sizing: border-box;
         justify-content: center;
         align-items: center;
      }

      > img {
         width: auto;
         height: auto;
         flex-shrink: 0;
      }
   }

   &__post-list {
      margin: 0;
      padding-left: 0;
      list-style: none;

      @media (min-width: $min-large-width) {
         margin-top: .85rem;
      }

      > li {
         margin-top: 0;
         margin-bottom: 0;
         padding-bottom: 2.1rem;

         ~ li {
            padding-top: 2.1rem;
            border-top: 1px dashed #b9b9b9;
         }
      }
   }

   &__post-count {
      text-align: center;
   }
}

.search-content {
   .archive {
      &__item-title {
         a {
            font-weight: 400;

            @media (min-width: $min-small-width) {
               font-size: 1.2rem;
            }
         }
      }

      &__item-subtitle {
         margin-top: .4em;
         margin-bottom: 0;
         font-size: calc(.85rem + .5vw);

         @media (min-width: $min-small-width) {
            font-size: 1rem;
         }
      }
   }
}

/* post archive */
.archive {
   &__btn {
      display: block;
      width: 100%;
      padding: 1.6rem .5rem;
      border-bottom: 1px dashed $grey;
      background-color: transparent;
      font-style: italic;
      font-size: 1.05rem;
      color: inherit;
      text-align: left;

      &:hover,
      &:focus,
      &--active {
         background-color: $grey02;
      }

      &__point {
         margin-right: .4rem;
         color: $sub-color03;
         font-size: 1.5rem;
      }
   }

   &__list {
      display: none;
      margin-top: 2rem;

      &--active {
         display: block;
      }

      ul {
         margin: 0;
      }

      li {
         margin: 1.2rem 0;
         line-height: 1.6;

         a {
            color: $black03;
            font-size: .95rem;

            @media (min-width: $min-large-width) {
               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }

      &__date {
         font-size: .85rem;
         font-style: italic;
         color: $sub-color03;

         &:before {
            content: "\2014";
            margin: 0 .4rem 0 .2rem;
         }
      }

      &-count {
         color: $sub-color03;
      }
   }
}

.page {
   &--tag-list {
      .archive__btn {
         font-size: 1.3rem;
      }
   }
}