/* ==========================================================================
   base css
   ========================================================================== */

/* base element */
html {
   font-size: 18px;
   -webkit-text-size-adjust: none;
   -webkit-font-smoothing: antialiased;

   @media (min-width: $min-medium-width) {
      font-size: 19px;
   }

   @media (min-width: $min-large-width) {
      font-size: 20px;
   }
}

body {
   background-color: $grey07;
   image-rendering: -webkit-optimize-contrast;
   font-family: $default-font04;
   font-style: normal;
   font-weight: 400;
   letter-spacing: -0.01em;
   line-height: 1;
   word-break: keep-all;
   word-wrap: break-word;
}

.layer-opened {
   body {
      overflow: hidden;
   }
}

.scroll-disabled {
   body {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }
}

html,
body {
   height: 100%;
}

img {
   max-width: 100%;
   border: 0;
   vertical-align: middle;
}

a {
   color: $sub-color03;
   text-decoration: none;
}

button {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: inherit;
   font-size: inherit;
   cursor: pointer;
}

a, button {
   @include activate-element;
}

input {
   font-family: inherit;
   font-size: inherit;

   &[type="text"],
   &[type="search"] {
      border-radius: 0;
      -webkit-appearance: none;
   }
   
   &[type="checkbox"],
   &[type="radio"] {
      cursor: pointer;
   }
}

label {
   cursor: pointer;
}

mark {
   background-color: $yellow02;
   color: inherit;
}

strong {
   font-weight: 700;
}

em {
   font-style: italic;
}

small {
   font-size: 0.85em;
}

li {
   margin-top: $li-default-margin;
   margin-bottom: $li-default-margin;
   line-height: 1.6;
}

::selection {
   background-color: $black04;
   color: $grey12;
}

pre {
   box-sizing: border-box;
   color: inherit;
   line-height: 1.8;
   white-space: pre-line;
   word-break: break-all;
   word-wrap: normal;
}

.table--scroll {
   overflow-x: auto;
}

table {
   table-layout: fixed;
}

caption {
   padding: 0.4761905em;
   line-height: 1.5;
   color: $sub-color03;
}

td, th {
   padding: 0.4761905em 1em;
   border: 1px solid $grey05;
   color: inherit;
   line-height: 1.5;
   text-align: center;
   vertical-align: middle;
   box-sizing: border-box;
}

th {
   background-color: $grey02;
}

br {
   font-size: 0;
}

hr {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   border: 0;
   border-top: 1px solid $grey06;
}

abbr {
   text-decoration: none;

   &[title] {
      position: relative;
      border-bottom: 1px dotted $black;
      cursor: help;
   }
}

/* hide element */
.visually-hidden {
   overflow: hidden !important;
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
}

/* skip links */
.skip-links a {
   color: #727272;
   transition: all 0.2s;

   &:focus,
   &:active {
      display: block;
      clip: auto !important;
      z-index: 100000;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 1.5rem;
      background-color: $grey12;
      box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
   }

   &:hover {
      color: $black;
   }
}

/* blockquote */
blockquote {
   position: relative;
   z-index: 1;
   padding: 1rem 1.5rem;
   font-style: italic;

   &:before {
      content: "\275D";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: auto;
      height: auto;
      font-size: 11.42857em;
      font-style: normal;
      line-height: 1;
      color: rgba(0, 0, 0, 0.1);
   }
   
   p {
      &:first-of-type {
         margin-top: 1rem;
         margin-bottom: 1rem;
      }

      &:last-of-type {
         margin-top: 0;
         margin-bottom: 0;
      }
   }

   cite {
      &:before {
         content: "\2014";
         margin-right: 0.286em;
         font-weight: 200;
         -webkit-font-smoothing: antialiased;
      }
   }
}

/* 각주 */
sup {
   margin: 0 0.1rem;
   line-height: 1;
   vertical-align: super;
}

.footnote {
   color: $grey;
   font-size: 0.9rem;

   &:before {
      content: "[";
   }

   &:after {
      content: "]";
   }

   @media (min-width: $min-large-width) {
      &:hover,
      &:focus,
      &:active {
         text-decoration: underline;
      }
   }
}

.footnotes {
   ol {
      padding-left: 0;

      li {
         list-style: none;

         p {
            margin: 0;
            font-size: 0.8rem;
            color: $grey;
            line-height: 1.8;
         }
      }
   }

   .reversefootnote {
      color: $black02;
   }
}

/* iframe */
iframe {
   margin-bottom: 1.5rem;
}

/* scrollbar style */
::-webkit-scrollbar {
   -webkit-appearance: none;
 
   &-thumb {
     border: 1px solid #333;
     border-radius: 8px;
     background-color: $grey12;

     &:hover {
        background-color: $grey09;
     }
   }
 
   &-track {
     background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0.3), rgba(185, 185, 185, 0.3));
   }
}