/* ==========================================================================
   base css
   ========================================================================== */

/* base element */
html {
   font-size: 18px;
   -webkit-text-size-adjust: none;
   -webkit-font-smoothing: antialiased;

   @media (min-width: $min_medium_width) {
      font-size: 19px;
   }

   @media (min-width: $min_large_width) {
      font-size: 20px;
   }
}

body {
   background-color: $grey07;
   font-family: $default_font04;
   font-style: normal;
   font-weight: 400;
   letter-spacing: -0.01em;
   line-height: 1;
   word-break: keep-all;
   overflow-wrap: break-word;

   &.scroll-disabled {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   &.overflow-hidden {
      overflow: hidden;
   }
}

html,
body {
   height: 100%;
}

a {
   color: $sub_color03;
   text-decoration: none;
}

[href*="mailto:"] {
   word-break: break-all;
}

button {
   display: inline-block;
   margin: 0;
   padding: 0;
   border: 0;
   font-family: inherit;
   cursor: pointer;
}

a, button {
   @include activate_element();
}

input {
   &[type="text"],
   &[type="search"] {
      border-radius: 0;
      -webkit-appearance: none;
   }
   
   &[type="checkbox"],
   &[type="radio"] {
      cursor: pointer;
   }
}

label {
   cursor: pointer;
}

strong {
   font-weight: 700;
}

em {
   font-style: italic;
}

small {
   font-size: 0.85em;
}

li {
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   line-height: 1.6;
}

::selection {
   background-color: $black04;
   color: $grey12;
}

pre {
   color: inherit;
   line-height: 1.8;
   white-space: pre-line;
   word-break: break-all;
}

.table--scroll {
   overflow-x: auto;
}

caption {
   padding: 0.5rem;
   line-height: 1.5;
   color: $sub_color03;
}

td, th {
   padding: 0.5rem 1rem;
   border: 1px solid $grey05;
   color: inherit;
   line-height: 1.5;
   text-align: center;
   vertical-align: middle;
}

th {
   background-color: $grey02;
}

abbr {
   text-decoration: none;

   &[title] {
      position: relative;
      border-bottom: 1px dotted $black;
      cursor: help;
   }
}

/* hide element */
.visually-hidden {
   overflow: hidden !important;
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
}

/* skip links */
.skip-links a {
   color: #727272;
   transition: all 0.2s;

   &:focus,
   &:active {
      display: block;
      clip: auto !important;
      z-index: 100000;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 1.5rem;
      background-color: $grey12;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
   }

   &:hover {
      color: $black;
   }
}

/* images */
.image {
   &--horizontal {
      width: auto !important;
      height: 100% !important;
   }

   &--vertical {
      width: 100% !important;
      height: auto !important;
   }

   &--grayscale {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
   }
}

/* blockquote */
blockquote {
   position: relative;
   z-index: 1;
   padding: 1rem 1.5rem;
   font-style: italic;

   &:before {
      content: "\275D";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: auto;
      height: auto;
      font-size: 12rem;
      font-style: normal;
      line-height: 1;
      color: rgba(0, 0, 0, 0.1);
   }
   
   p {
      &:first-of-type {
         margin: 1rem 0;
      }

      &:last-of-type {
         margin: 0;
      }
   }

   cite {
      &:before {
         content: "\2014";
         margin-right: 0.3rem;
         font-weight: 200;
      }
   }
}

/* 각주 */
sup {
   margin: 0 0.1rem;
   line-height: 0;
   vertical-align: super;
}

.footnote {
   color: $grey;
   font-size: 0.9rem;

   &:before {
      content: "[";
   }

   &:after {
      content: "]";
   }

   @media (min-width: $min_large_width) {
      &:hover,
      &:focus,
      &:active {
         text-decoration: underline;
      }
   }
}

.footnotes {
   ol {
      padding-left: 0;

      li {
         list-style: none;

         p {
            margin: 0;
            font-size: 16px;
            color: $grey;
            line-height: 1.8;
         }
      }
   }

   .reversefootnote {
      color: $black02;
   }
}

/* iframe */
iframe {
   margin-bottom: 1.5rem;
}

// IE check
.ie-alert {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10001;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0,0,0,0.5);

   &__inner-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: auto;
      padding: 1.5rem;
      border: 2px solid $black05;
      background-color: $grey12;
      box-shadow: rgba(0,0,0,0.1) 0.5rem 0.5rem 0.5rem;
      line-height: 1.7;
      text-align: center;

      @media (min-width: $min_small_width) {
         width: 23rem;
      }
   }

   p {
      margin-bottom: 0.6rem;
      text-align: left;
   }

   &__close {
      display: block;
      margin: 0.6rem auto 0;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      background-color: $main_color;
      font-size: 0.85rem;
      color: $grey12;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }
}

/* scrollbar style */
::-webkit-scrollbar {
   -webkit-appearance: none;
 
   &-thumb {
     border: 1px solid #333;
     border-radius: 8px;
     background-color: $grey12;
   }
 
   &-track {
     background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0.3), rgba(185, 185, 185, 0.3));
   }
}