/* ==========================================================================
   custom css
   ========================================================================== */

// about 페이지
.about {
   .page__header-link {
      &[href="#주요-관심사에-대한-포스트"] {
         &:before {
            content: url('//api.iconify.design/noto-v1:notebook.svg?height=2.2em');
         }
      }

      &[href="#구독"] {
         margin-right: .2em;

         &:before {
            content: url('//api.iconify.design/noto-v1:closed-mailbox-with-lowered-flag.svg?height=2.6em');
         }
      }
   }

   .archive__list__date {
      color: $black02;
   }
}

// 다크모드
html {
   @include theme() {
      .about {
         .archive__list__date {
            color: theme-style("link-color");
         }
      }
   }
}