/* ==========================================================================
   custom css
   ========================================================================== */

/* scrollbar style */
::-webkit-scrollbar {
   width: 15px;
   height: 14px;
   -webkit-appearance: none;
 
   &-thumb {
     border: 1px solid #333;
     border-radius: 8px;
     background: $grey12;
   }
 
   &-track {
     background: linear-gradient(to bottom, rgba(216, 216, 216, 0.3), rgba(185, 185, 185, 0.3));
   }
}

// masthead layout
.masthead {
   @include teaser_blur_value(3px);

   &__teaser {
      @include teaser_blur_value(3px);
   }
}

// about 페이지
.about {
   &__heading {
      .heading-link {
         &:before {
            vertical-align: -0.125em;
            font-family: inherit;
         }
      }

      &.has-info-ico {
         .heading-link {
            &:before {
               content: url('https://api.iconify.design/noto-v1:notebook.svg?height=2.2em');
            }
         }
      }

      &.has-post-ico {
         .heading-link {
            &:before {
               content: url('https://api.iconify.design/emojione-v1:lower-left-pencil.svg?height=2.2em');
            }
         }
      }

      &.has-computer-ico {
         .heading-link {
            margin-right: 0.3em;

            &:before {
               content: url('https://api.iconify.design/emojione-v1:laptop-computer.svg?height=2.2em');
            }
         }
      }
   }

   &__info-table {
      .fake-table__header {
         width: 25%;
      }
   }
}