/* ==========================================================================
   font css
   ========================================================================== */

/* Gothic A1 */
@font-face {
   font-family: "Gothic A1";
   src: url('/assets/font/gothica1-light-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-light-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "Gothic A1";
   src: url('/assets/font/gothica1-regular-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-regular-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gothic A1";
   src: url('/assets/font/gothica1-medium-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-medium-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Gothic A1";
   src: url('/assets/font/gothica1-semibold-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-semibold-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "Gothic A1";
   src: url('/assets/font/gothica1-bold-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-bold-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 700;
}

/* Noto Sans KR */
@font-face {
   font-family: "Noto Sans KR";
   src: url('/assets/font/notosanskr-light.woff2') format('woff2'),
        url('/assets/font/notosanskr-light.woff') format('woff');
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "Noto Sans KR";
   src: url('/assets/font/notosanskr-regular.woff2') format('woff2'),
        url('/assets/font/notosanskr-regular.woff') format('woff');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Noto Sans KR";
   src: url('/assets/font/notosanskr-medium.woff2') format('woff2'),
        url('/assets/font/notosanskr-medium.woff') format('woff');
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Noto Sans KR";
   src: url('/assets/font/notosanskr-bold.woff2') format('woff2'),
        url('/assets/font/notosanskr-bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
}