/* ==========================================================================
   font css
   ========================================================================== */

/* RIDI batang */
@font-face {
   font-family: "RIDI batang";
   font-display: swap;
   src: local("RIDI batang"),
        url('/assets/font/ridibatang-webfont.woff2') format('woff2'),
        url('/assets/font/ridibatang-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 400;
}

/* Gothic A1 regular */
// @font-face {
//    font-family: "Gothic A1";
//    font-display: swap;
//    src: local("Gothic A1 regular"),
//         url('/assets/font/gothica1-regular-webfont.woff2') format('woff2'),
//         url('/assets/font/gothica1-regular-webfont.woff') format('woff');
//    font-style: normal;
//    font-weight: 400;
// }

/* test */
// @font-face {
//    font-family: 'ELAND_Choice_M';
//    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
// }

// @font-face {
//    font-family: 'Jal_Haru';
//    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
// }

// @font-face {
//    font-family: 'UNPGothicKS';
//    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/UNPGothicKS.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
// }