/* ==========================================================================
   font css
   ========================================================================== */

/* RIDI batang */
@font-face {
   font-family: "RIDI batang";
   font-display: swap;
   src: local("RIDI batang"),
        url('/assets/font/ridibatang-webfont.woff2') format('woff2'),
        url('/assets/font/ridibatang-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 400;
}

/* Gothic A1 regular */
@font-face {
   font-family: "Gothic A1";
   font-display: swap;
   src: local("Gothic A1 regular"),
        url('/assets/font/gothica1-regular-webfont.woff2') format('woff2'),
        url('/assets/font/gothica1-regular-webfont.woff') format('woff');
   font-style: normal;
   font-weight: 400;
}