/* ==========================================================================
   mastfoot css
   ========================================================================== */

.mastfoot {
  background-color: $grey08;
  font-size: .8rem;
  text-align: center;

  &__inner-wrap {
    position: relative;
    margin-left: $layout-margin;
    margin-right: $layout-margin;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: $min-small-width) {
      display: inline-block;
    }
  }

  a {
    @media (min-width: $min-large-width) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__btn-top {
    $size: 2.35rem;

    display: block;
    position: absolute;
    top: -1.25rem;
    right: 0;
    width: $size;
    height: $size;
    margin: 0;
    background-color: $grey12;
    border: 1px solid $main-color;
    border-radius: 50%;
    box-sizing: border-box;

    > a {
      display: block;
      width: 100%;
      height: 100%;
      
      &:not(:hover),
      &:hover {
        text-decoration: none;
      }

      > i {
        display: block;
        height: 100%;
        font-size: 1.5rem;
        line-height: $size;
        color: $black03;
      }
    }
  }

  &__copyright {
    margin: 0;
    line-height: 1.5;
  }
}