/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE layout */
.ie-alert {
   display: none;
   padding-top: 1.3rem;
   padding-bottom: 1.3rem;
   background-color: $sub-color01;
   line-height: 1.4;
   color: $black03;

   &__inner-wrap {
      @include common-layout($max-width: $layout-wide-width);
      

      @media (min-width: $min-large-width) {
         a:hover {
            text-decoration: underline;
         }
      }

      a {
         &:not(:hover) {
            text-decoration: none;
         }
      }
   }
}

.only-ie {
   .ie-alert {
      display: block;
   }
}

/* masthead layout */
.masthead {
   overflow: hidden;
   @include teaser;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;

   @media (min-width: $min-medium-width) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 94% 100%, 0 100%, 0% 50%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 94% 100%, 0 100%, 0% 50%);
   }

   &__page {
      &-header {
         @include common-layout($max-width: $layout-wide-width);
         margin-top: 9rem;
         margin-bottom: 11rem;
         @include page-title;

         @media (min-width: $min-mini-width) {
            margin-bottom: 9rem;
         }
      }

      &-avatar {
         @include avatar;
         width: 4.5rem;
         height: 4.5rem;
         margin-bottom: 1rem;

         @media (min-width: $min-small-width) {
            width: 5rem;
            height: 5rem;
            margin-bottom: 1.5rem;
         }
      }

      &-subtitle {
         @include subtitle($margin-top: .3rem);
      }
   }

   &__teaser {
      overflow: hidden;
      position: relative;
      @include teaser;
   }

   &--image {
      background-color: transparent;
   }

   &__post-header {
      @include common-layout($max-width: $layout-wide-width);
      padding-top: 6rem;
      padding-bottom: 10rem;
      @include page-title;

      @media (min-width: $min-mini-width) {
         padding-bottom: 8rem;
      }
   }
}

.layout {
   &--home {
      .masthead__page-header {
         text-align: center;
      }

      .nav__btn-wrapper {
         margin-top: 0;
      }
   }
}

.nav {
   &__btn-wrapper {
      display: flex;
      margin-top: 0.555555rem;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width: $min-mini-width) {
         position: absolute;
         top: 0;
         right: 0;
         width: auto;
         height: 2rem;
         margin-top: 0;
      }
   
      > button {
         background-color: transparent;
      }
   }

   &__item {
      width: 2rem;
      height: 2rem;

      > i {
         display: block;
         color: $grey12;
         text-shadow: $black04 1px .1rem .1rem;
      }
   
      & ~ & {
         margin-left: 1rem;
         
         @media (min-width: $min-small-width) {
            margin-left: 1.5rem;
         }
      }
   }

   // 검색 토글
   &__search-open {
      > i {
         font-size: 1.5rem;
      }
   }

   // 메뉴 토글
   &__menu-open {
      > i {
         font-size: 1.7rem;
      }
   }

   // 다크모드 토글
   &__darkmode-toggle {
      > i {
         font-size: 1.6rem;
      }

      &--active {
         > i {
            &:before {
               content: "\eba3";
            }
         }
      }
   }
}

.site {
   &-title {
      display: block;
      position: relative;
      z-index: 1;
      font-weight: 400;
      font-size: calc(1.23rem + .5vw);
      line-height: 1.45;
      color: $grey12;
      text-shadow: $black04 1px .1rem .1rem;

      @media (min-width: $min-mini-width) {
         display: inline-block;
         margin-right: 6.5em;
         vertical-align: top;
      }

      @media (min-width: $min-small-width) {
         font-size: 1.4rem;
      }

      &__author-avatar {
         display: none;
      }

      @media (min-width: $min-medium-width) {
         &.has-image {
            padding-left: 4rem;
         }

         &__author-avatar {
            @include avatar;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 3.5rem;
            height: 3.5rem;
            margin-top: auto;
            margin-bottom: auto;
         }
      }
   }

   &-subtitle {
      display: block;
      margin-top: .263em;
      font-size: .95rem;
      line-height: 1.3;
   }

   &-nav {
      position: relative;
      @include common-layout($max-width: $layout-wide-width, $margin-t: 1.7rem, $margin-b: 1.7rem);
   }
}