/* ==========================================================================
   mastfoot css
   ========================================================================== */

.mastfoot {
  background: $grey08;
  text-align: center;

  &.toc-layout {
    padding: 0 25vw;
  }

  &__inner-wrap {
    display: block;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.2rem 0;

    @media (min-width: $min_small_width) {
      display: inline-block;
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  a {
    @media (min-width: $min_large_width) {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .move-to-top {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -25px;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid $main_color;
    border-radius: 50%;

    svg {
      stroke: $black;
      stroke-width: 8px;
    }
  }

  &__copyright {
    line-height: 1.5;
    font-size: 15px;
    color: $black;
  }
}