/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE check */
.guide--ie {
   display: none;
   position: relative;
   z-index: 2;
   padding: 2rem 1rem;
   background: $sub_color01;
   text-align: center;

   p {
      @include common_layout();
      line-height: 1.6;
   }

   strong {
      font-weight: 700;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }
}

.only-ie {
   .guide--ie {
      display: block;
   }

   .author__image-wrapper {
      border-bottom-left-radius: 60px;
   }
}

/* masthead layout */
.masthead {
   position: relative;

   &__teaser {
      overflow: hidden;
      min-height: 30rem;
      background-image: linear-gradient(45deg, $black02, $grey10, $grey11);

      &.teaser--image {
         background-image: none;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
      }

      &.teaser--blur {
         position: relative;
         z-index: 1;

         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: inherit;
         }
      }
   }

   .author {
      &-wrapper {
         position: relative;
         @include common_layout($margin: 9rem auto);

         @media (max-width: $small_width) {
            margin-bottom: 2rem;
         }
      }

      &__avatar {
         width: 9rem;
         height: 12rem;
         margin: 0 auto;
         filter: drop-shadow(6px 6px 8px rgba(0,0,0,0.2));

         @media (min-width: $min_small_width) {
            position: absolute;
            top: 0;
            left: 0;
            width: 11rem;
            height: 14rem;
         }

         + .author__info-wrapper {
            @media (min-width: $min_small_width) {
               margin-top: 1.5rem;
               margin-left: 14rem;
               padding-top: 2.7rem;
            }

            @media (max-width: $small_width) {
               padding-top: 1.5rem;
            }
         }
      }

      &__image-wrapper {
         display: flex;
         overflow: hidden;
         height: 100%;
         justify-content: center;
         align-items: center;
         -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
         clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
      }

      &__info-wrapper  {
         padding-top: 1rem;
         color: #fff;
         text-shadow: rgba(0,0,0,0.5) 2px 2px 3px;
         word-break: keep-all;

         @media (min-width: $min_small_width) {
            padding-top: 1.7rem;
         }
      }

      &__name {
         display: block;
         position: relative;
         margin-bottom: 1rem;
         padding-bottom: 1rem;
         border-style: solid;
         border-image: linear-gradient(to right, $sub_color02, $sub_color03);
         border-image-slice: 1;
         border-bottom-width: 1px;
         font-size: 2.4rem;
         font-weight: 400;
         text-align: center;

         @media (min-width: $min_small_width) {
            font-size: 2.7rem;
            text-align: left;

            &:before {
               content: "";
               display: block;
               position: absolute;
               bottom: -1px;
               left: 100%;
               width: 100vw;
               height: 1px;
               background: $sub_color03;
            }
         }
      }

      &__desc {
         font-size: 1.1rem;
         font-weight: 300;
         line-height: 1.5;
         text-align: center;

         @media (min-width: $min_small_width) {
            font-size: 1.3rem;
            text-align: left;
         }
      }

      &__links {
         margin: 0;
         padding-left: 0;
         list-style: none;
         text-align: center;

         li {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin: 1rem 1rem 0 1rem;
            border-radius: 50%;
            background: #fff;
            box-shadow: rgba(0,0,0,0.2) 5px 3px 10px;
            text-align: center;
            font-size: 1.2rem;
            line-height: 2rem;
            vertical-align: top;
            list-style: none;

            @media (min-width: $min_small_width) {
               margin-left: 0;
               margin-right: 1.5rem;
            }

            a {
               display: block;
               color: $black;
            }
         }

         @media (min-width: $min_small_width) {
            text-align: left;
         }
      }
   }
}

.site-nav {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: auto;
   padding: 1.7rem 3vw;
   justify-content: space-between;
   align-items: center;
}

.nav__btn-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

   button {
      overflow: hidden;
      width: 1.5rem;
      height: 1.5rem;
      background: none;
   }
}

.nav__item {
   & + & {
      margin-left: 2rem;
   }
}

.site {
   &-title {
      display: block;
      position: relative;
      z-index: 1;
      margin-right: 2rem;
      font-size: 1.3rem;
      color: #fff;
      text-shadow: rgba(0,0,0,0.7) 1px 1px 3px;

      &:before {
         content: "";
         display: block;
         position: absolute;
         top: -0.6rem;
         left: 0.3rem;
         z-index: -1;
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background: $main_color;
      }

      @media (min-width: $min_small_width) {
         font-size: 1.4rem;
      }
   }

   &-subtitle {
      margin-left: 0.3rem;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.3;

      @media (min-width: $min_small_width) {
         font-size: 17px;
      }

      @media (max-width: $small_width) {
         display: block;
         margin-left: 0;
         margin-top: 0.5rem;
      }
   }
}

// search toggle
.nav__search-open {
   svg {
      transform: rotate(45deg);
      stroke-width: 15px;
      stroke: #fff;
   }
}

// menu toggle
.nav__menu-open {
   .ico {
     display: block;
     width: 1.5rem;
     height: 1px;
     background: #fff;

     &:before,
     &:after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: inherit;
     }

     &:before {
       top: -8px;
     }

     &:after {
        bottom: -7px;
     }
   }
}