/* ==========================================================================
   mixins css
   ========================================================================== */

/* 레이아웃 */
@mixin common-layout($width: $layout-responsive-width, $max-width: $layout-general-width, $margin: null, $margin-t: null, $margin-b: null, $margin-l: auto, $margin-r: auto) {
   @if $margin-t != null {
      margin-top: $margin-t;
   }

   @if $margin-b != null {
      @media (min-width: $min-large-width) {
         margin-bottom: $margin-b;
      }
   }

   @if $margin-l != null {
      margin-left: $layout-margin;
   }

   @if $margin-r != null {
      margin-right: $layout-margin;
   }

   @media (min-width: $min-standard-width) {
      @if ($width != null) {
         width: $layout-responsive-width;
      }
      
      @if $max-width {
         max-width: $max-width;
      }

      @if $margin != null {
         margin: $margin;
      } @else {
         margin-left: $margin-l;
         margin-right: $margin-r;
      }
   }
}

// 다크모드
@mixin theme() {
   @each $theme, $map in $themes {
      $theme-map: $map !global;

      &.#{$theme} {
         @content;
      }
   }
   $theme-map: null !global;
}

// hero
@mixin teaser {
   background-color: $green05;
}

// 프로필 사진
@mixin avatar {
   display: inline-block;
   padding: .2rem;
   border-radius: 50%;
   border: 2px solid $main-color;
   box-shadow: rgba(0,0,0,.3) 1px 1px .5rem 0;
   box-sizing: border-box;

   &__image {
      display: block;
      overflow: hidden;
      height: 100%;
      border-radius: inherit;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      color: transparent;
      text-shadow: none;
   }
}

// 페이지 타이틀
@mixin page-title {
   > .page-title {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      color: $grey12;
      text-shadow: 2px 2px .1em rgba(0,0,0,.8);
   }
}

// 페이지 서브타이틀
@mixin subtitle($margin-top) {
   display: block;
   margin-top: $margin-top;
   font-weight: 400;
   font-size: calc(1rem + .5vw);
   line-height: 1.5;
   letter-spacing: .01em;
   color: $grey07;
   text-shadow: 2px 2px .1em rgba(0,0,0,.8);
}

// sr-only
@mixin sr-only($position: null) {
   position: $position;
   overflow: hidden !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   clip-path: inset(50%) !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
}

// clearfix
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

// focus
@mixin activate-element($offset: null) {
   &:focus,
   &:active {
      outline: thin dotted #666d72;
      outline: 5px auto #666d72;
      outline-offset: $offset;
   }
}

/* transition */
@mixin transition($pro: all, $dur: .3s, $tim: ease, $del: initial) {
   transition-property: $pro;
   transition-duration: $dur;
   transition-timing-function: $tim;
   transition-delay: $del;
}

// 검색
@mixin search-item {
   height: 2rem;
   padding-left: .5rem;
   padding-right: .5rem;
   line-height: 2rem;
   font-size: 1.2rem;
   box-sizing: border-box;

   @media (min-width: $min-small-width) {
      height: 3rem;
      line-height: 3rem;
      font-size: 1.7rem;
   }

   @media (min-width: $min-medium-width) {
      height: 4rem;
      line-height: 4rem;
      font-size: 2rem;
   }

   @media (min-width: $min-large-width) {
      height: 5rem;
      line-height: 5rem;
      font-size: 2.2rem;
   }
}

/* text */
@mixin heading($color: null) {
   color: $color;
   line-height: 1.4;
}

// 말줄임표
@mixin ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

// 말줄임표 여러줄
@mixin multiple-ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

// figcaption 태그
@mixin figcaption {
   margin-top: .8rem;
   font-style: normal;
   font-size: .95rem;
   color: $grey10;
   text-align: center;

   &:before {
      content: "[";
      margin-right: .35rem;
   }

   &:after {
      content: "]";
      margin-left: .35rem;
   }
}

/* post info item */
@mixin post-info-item {
   display: block;
   overflow: hidden;
   max-width: 70%;
   margin-bottom: .3rem;
   padding: .35rem .65rem;
   border-radius: .15rem;
   background-color: $grey08;
   font-size: .9rem;
   line-height: 1;
   color: inherit;
   text-overflow: ellipsis;
   white-space: nowrap;
   box-sizing: border-box;

   > i {
      font-size: 1em;
      vertical-align: -.1em;
   }
}