/* ==========================================================================
   mixins css
   ========================================================================== */

/* common layout */
@mixin common-layout($width: $layout-responsive-width, $max-width: $layout-general-width, $margin: null, $margin-t: null, $margin-b: null, $margin-l: auto, $margin-r: auto) {
   @if $margin-t != null {
      margin-top: $margin-t;
   }

   @if $margin-b != null {
      margin-bottom: $margin-b;
   }

   @if $margin-l != null {
      margin-left: $layout-margin;
   }

   @if $margin-r != null {
      margin-right: $layout-margin;
   }

   @media (min-width: $min-standard-width) {
      @if ($width != null) {
         width: $layout-responsive-width;
      }
      
      @if $max-width {
         max-width: $max-width;
      }

      @if $margin != null {
         margin: $margin;
      } @else {
         margin-left: $margin-l;
         margin-right: $margin-r;
      }
   }
}

@mixin teaser {
   background-color: $green05;
}

@mixin avatar {
   display: inline-block;
   padding: .2rem;
   border-radius: 50%;
   border: 2px solid $main-color;
   box-shadow: rgba(0,0,0,.3) 1px 1px .5rem 0;
   box-sizing: border-box;

   > span {
      display: block;
      height: 100%;
      border-radius: inherit;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
   }
}

@mixin page_title($size1, $size2) {
   font-family: $default-font03;

   > .page-title {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      color: $grey12;
      text-shadow: 1px 1px 0.2em rgba(0,0,0,0.6);

      @media (min-width: $min-small-width) {
         font-size: $size1;
      }
   
      @media (min-width: $min-general-width) {
         font-size: $size2;
      }
   }
}

@mixin subtitle($margin-top) {
   display: block;
   margin-top: $margin-top;
   font-weight: 400;
   font-size: calc(1rem + .5vw);
   line-height: 1.5;
   letter-spacing: .01em;
   color: $grey07;
   text-shadow: 1px 1px .2em rgba(0,0,0,.6);
}

// clearfix
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

// focus
@mixin activate-element($offset: -2px) {
   &:focus,
   &:active {
      outline: thin dotted #666d72;
      outline: 5px auto #666d72;
      outline-offset: $offset;
   }
}

/* transition */
@mixin transition($pro: all, $dur: .3s, $tim: ease, $del: initial) {
   transition-property: $pro;
   transition-duration: $dur;
   transition-timing-function: $tim;
   transition-delay: $del;
}

// search
@mixin search-item {
   height: 2rem;
   padding-left: .5rem;
   padding-right: .5rem;
   line-height: 2rem;
   font-size: 1.2rem;
   box-sizing: border-box;

   @media (min-width: $min-small-width) {
      height: 3rem;
      line-height: 3rem;
      font-size: 1.7rem;
   }

   @media (min-width: $min-medium-width) {
      height: 4rem;
      line-height: 4rem;
      font-size: 2rem;
   }

   @media (min-width: $min-large-width) {
      height: 5rem;
      line-height: 5rem;
      font-size: 2.2rem;
   }
}

/* text */
@mixin heading($color: $black) {
   color: $color;
   font-weight: 700;
   line-height: 1.4;
}

@mixin ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin multiple-ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

@mixin hide-text {
   overflow: hidden !important;
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
}

@mixin figcaption {
   margin-top: .8rem;
   font-style: normal;
   font-size: .95rem;
   color: $grey10;
   text-align: center;

   &:before {
      content: "[";
      margin-right: .35rem;
   }

   &:after {
      content: "]";
      margin-left: .35rem;
   }
}

/* post info item */
@mixin post-info-item {
   display: block;
   overflow: hidden;
   max-width: 70%;
   margin-bottom: .3rem;
   padding: .35rem .65rem;
   border-radius: .15rem;
   box-shadow: rgba(0,0,0,.2) .15rem .15rem .5rem;
   font-family: $default-font03;
   font-size: .85rem;
   line-height: 1;
   color: $grey12;
   text-shadow: rgba(0,0,0,.6) 1px 1px .15rem;
   text-overflow: ellipsis;
   white-space: nowrap;
   box-sizing: border-box;

   &:before {
      font-family: $icon-font;
      font-size: 1em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
   }
}

@mixin post-info-item-date {
   background-color: $black02;

   &:before {
      content: "\ea2c";
   }
}

@mixin post-info-item-category {
   background-color: $green03;

   &:before {
      content: "\eb1e";
      margin-right: .15em;
   }
}

@mixin post-info-item-tag {
   background-color: $sub-color03;

   &:before {
      content: "\ea36";
      margin-right: .2em;
   }
}