/* ==========================================================================
   mixins css
   ========================================================================== */

/* common layout */
@mixin common-layout($max-width: null, $width: $layout-width-px, $min-general-width-value: false, $margin: null, $margin-l: auto, $margin-r: auto) {
   width: $layout-width-per;

   @if $margin != null {
      margin: $margin;
   } @else {
      margin-left: $margin-l;
      margin-right: $margin-r;
   }

   @media (min-width: $min-standard-width) {
      @if $max-width {
         max-width: $max-width;
      } @else {
         @if $width != $layout-width-per {
            width: $width;
         }
      }
   }

   @if $min-general-width-value == false {
      @media (min-width: $min-general-width) {
         width: 62.5vw;
      }
   }
}

@mixin teaser {
   background-color: $green05;

   &--blur {
      z-index: 1;

      &:before {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: -1;
         background: inherit;
      }
   }
}

// teaser blur
@mixin teaser-blur-value($blur) {
   &--blur {
      &:before {
         filter: blur($blur);
      }
   }
}

// clearfix
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

// focus
@mixin activate-element($offset: -2px) {
   &:focus,
   &:active {
      outline: thin dotted #666d72;
      outline: 5px auto #666d72;
      outline-offset: $offset;
   }
}

/* transition */
@mixin transition($pro: all, $dur: 0.3s, $tim: ease, $del: initial) {
   transition-property: $pro;
   transition-duration: $dur;
   transition-timing-function: $tim;
   transition-delay: $del;
}

// search
@mixin search-item {
   height: 2rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   line-height: 2rem;
   font-size: 1.2rem;
   box-sizing: border-box;

   @media (min-width: $min-small-width) {
      height: 3rem;
      line-height: 3rem;
      font-size: 1.7rem;
   }

   @media (min-width: $min-medium-width) {
      height: 4rem;
      line-height: 4rem;
      font-size: 2rem;
   }

   @media (min-width: $min-large-width) {
      height: 5rem;
      line-height: 5rem;
      font-size: 2.2rem;
   }
}

/* text */
@mixin heading($color: $black) {
   color: $color;
   font-weight: 700;
   line-height: 1.4;
}

@mixin ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin multiple-ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

@mixin hide-text {
   overflow: hidden !important;
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
}

@mixin figcaption {
   margin-top: 0.8rem;
   font-style: normal;
   font-size: 0.95rem;
   color: $grey10;
   text-align: center;

   &:before {
      content: "[";
      margin-right: 0.35rem;
   }

   &:after {
      content: "]";
      margin-left: 0.35rem;
   }
}

/* post info item */
@mixin post-info-item {
   display: block;
   overflow: hidden;
   max-width: 70%;
   margin-bottom: 0.3rem;
   padding: 0.35rem 0.65rem;
   border-radius: 0.15rem;
   box-shadow: rgba(0,0,0,0.2) 0.15rem 0.15rem 0.5rem;
   font-family: $default-font03;
   font-size: 0.85rem;
   color: $grey12;
   text-shadow: rgba(0,0,0,0.6) 1px 1px 0.15rem;
   text-overflow: ellipsis;
   white-space: nowrap;
   box-sizing: border-box;

   &:before {
      font-family: $icon-font;
      font-size: 1em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
   }
}

@mixin post-info-item-date {
   background-color: $black02;

   &:before {
      content: "\ea2c";
   }
}

@mixin post-info-item-category {
   background-color: $green03;

   &:before {
      content: "\eb1e";
      margin-right: 0.15em;
   }
}

@mixin post-info-item-tag {
   background-color: $sub-color03;

   &:before {
      content: "\ea36";
      margin-right: 0.2em;
   }
}