/* ==========================================================================
   navigation css
   ========================================================================== */

/* primary navigation */
.side-menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10000;
   width: 100%;
   height: 100vh;
   background-color: rgba(0,0,0,0.3);

   &--active {
      display: block;
   }
}

.menu {
   &__layer {
      display: block;
      overflow-y: auto;
      position: absolute;
      top: 0;
      right: -100%;
      width: 85%;
      height: 100%;
      padding: 4rem 1.5rem;
      background-color: $grey07;
      box-shadow: rgba(0,0,0,0.3) 0.4rem 0.4rem 1rem 0.5rem;
      box-sizing: border-box;
      transition: right 0.4s ease-in-out;

      &--animate {
         right: 0;
      }

      @media (min-width: $min-big-width) {
         width: 30rem;
      }

      > h2 {
         margin-bottom: 0.5em;
         padding-bottom: 0.5em;
         border-bottom: 1px dotted $black;
         color: $black;
         font-weight: 700;
         font-size: calc(1.3rem + 0.5vw);
         line-height: 1.4;

         &:first-letter {
            font-size: 1.25em;
         }

         ~ h2 {
            margin-top: 1em;
         }

         @media (min-width: $min-small-width) {
            font-size: 1.5rem;
         }
      }

      ul {
         margin: 0;
         padding-left: 2rem;
         list-style: circle;
      }

      li {
         margin-top: 1em;
         margin-bottom: 1em;
         font-size: 1.1rem;
         color: $black02;
         line-height: 1.3;

         @media (min-width: $min-small-width) {
            font-size: 1.2rem;
         }

         a {
            color: inherit;

            @media (min-width: $min-large-width) {
               &:hover {
                  text-decoration: underline;
                  text-decoration: underline $main-color;
               }
            }
         }
      }
   }

   &item--current-page {
      list-style: disc;
   }

   @media (min-width: $min-minimal-width) {
      &__list--grid {
         display: flex;
         flex-wrap: wrap;

         > li {
            width: 50%;
            margin-top: 0.791667em;
            margin-bottom: 0.791667em;
            padding-right: 2em;
            box-sizing: border-box;
         }
      }
   }

   &__list-count {
      color: $sub-color03;
   }

   &__more {
      display: block;
      overflow: hidden;
      width: 2rem;
      height: 2rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   
      &:before {
         content: "\e94a";
         display: block;
         font-family: $icon-font;
         font-size: 1.8rem;
         letter-spacing: normal;
         line-height: 1;
         color: $black;
         -webkit-font-smoothing: antialiased;
      }
   }

   &__close {
      display: block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
      background-color: $main-color;

      &:before {
         content: "\e9af";
         display: block;
         font-family: $icon-font;
         font-size: 1.2rem;
         color: $grey12;
         -webkit-font-smoothing: antialiased;
      }
   }

   &__author {
      &-name {
         display: block;
         font-size: 1.3rem;
         line-height: 1.3;
      }

      &-desc {
         margin-top: 0.2rem;
         line-height: 1.5;
      }

      &-wrapper {
         margin-top: 1rem;
         padding-top: 1rem;
         border-top: 1px dotted $black;
         line-height: 1.5;
         color: $black;
         text-align: center;

         .menu__author-links {
            display: flex;
            margin-top: 0.6rem;
            padding-left: 0;
            list-style: none;
            flex-wrap: wrap;
            justify-content: center;
   
            li {
               margin: 0.3rem 3%;
               
               > a {
                  display: flex;
                  overflow: hidden;
                  width: 2.5rem;
                  height: 2.5rem;
                  font-size: 1.2rem;
                  color: $sub-color03;
                  justify-content: center;
                  align-items: center;
               }
            }
         }
      }
   }

   &__alert {
      padding-top: 0.5rem;
      line-height: 1.3;
   }
}

/* pagination */
.pagination {
   margin-top: 4rem;
   text-align: center;

   @media (min-width: $min-medium-width) {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
   }

   ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width: $min-medium-width) {
         font-size: 1.2rem;
      }
   }

   li {
      margin-left: 0.222222em;
      margin-right: 0.222222em;
      line-height: 1;

      @media (min-width: $min-minimal-width) {
         margin-left: 0.416667em;
         margin-right: 0.416667em;
      }

      @media (min-width: $min-small-width) {
         margin-left: 0.583333em;
         margin-right: 0.583333em;
      }

      > a {
         display: block;
         position: relative;
         padding: 0.416667em 0.2em;
         color: $black03;

         @media (min-width: $min-minimal-width) {
            padding-left: 0.583333em;
            padding-right: 0.583333em;
         }

         @media (min-width: $min-small-width) {
            padding-left: 0.833333em;
            padding-right: 0.833333em;
         }
      }
   }

   .page--current {
      margin-left: 0.242424em;
      margin-right: 0.242424em;
      font-size: 1.833333em;
      color: $sub-color03;

      @media (min-width: $min-small-width) {
         margin-left: 0.454545em;
         margin-right: 0.454545em;
      }
   }

   .page--arrow {
      a {
         &:before {
            display: block;
            font-family: $icon-font;
            font-size: 1em;
            color: $black;
            -webkit-font-smoothing: antialiased;

            @media (min-width: $min-small-width) {
               font-size: 1.083333em;
            }
         }
      }
   }

   .page--prev {
      a {
         &:before {
            content: "\e93b";
         }
      }
   }

   .page--next {
      a {
         &:before {
            content: "\e93e";
         }
      }
   }

   .page--disabled {
      pointer-events: none;
   }

   &--pager {
      display: table-cell;
      width: 100%;
      padding: 1.3rem;
      border: 1px solid $grey05;
      background-color: $grey12;
      font-weight: 700;
      color: $grey;

      &.pager--disabled {
         color: $grey03;
         pointer-events: none;
      }

      @media (min-width: $min-large-width) {
         &:hover,
         &:focus,
         &:active {
            color: $sub-color03;
         }
      }
   }
}

/* toc */
.toc-wrapper {
   border: 1px solid $grey;
   border-radius: 0.4rem;
   background-color: $grey12;
   box-sizing: border-box;
   transition: $standard-transition;

   nav {
      @include clearfix;
   }

   ul {
      padding-left: 0;
   }

   ul, li {
      list-style: none;
   }

   .toc__menu {
      overflow-y: auto;
      max-height: 21.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }

   @media (min-width: $min-large-width) {
      float: left;
      position: relative;
      position: sticky;
      top: 2rem;
      left: 1rem;
      z-index: 1;
      width: 21rem;
      height: auto;
      margin-left: -$toc-margin;
      box-shadow: rgba(0,0,0,0.15) 0.25rem 0.25rem 0.5rem;

      .toc {
         &__menu {
            max-height: 57.6vh;
            padding-left: 1rem;
            padding-right: 1rem;
         }

         &--active {
            position: relative;
            z-index: 1;
            background-image: linear-gradient(45deg, $main-color, $sub-color04);
            color: $grey12;
   
            &:before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               bottom: 0;
               left: -100%;
               z-index: -1;
               width: 100%;
               background-color: $main-color;
            }
         }
      }
   }
}

.toc {
   &__title {
      padding: 0.5rem 1rem;
      border-radius: 0.4rem 0.4rem 0 0;
      border-bottom: 1px dashed $grey;
      background-color: $grey02;
      font-weight: 700;
      font-size: 1.3rem;
      color: $black;
      
      &:before {
         content: "\ea35";
         margin-right: 0.1em;
         font-family: $icon-font;
         font-weight: 200;
         color: $sub-color03;
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
      }
   }

   &__menu {
      > li {
         > a {
            color: $black02;
            font-weight: 400;
         }
   
         &:first-child {
            > a {
               border-top: 0;
            }
         }
   
         > ul {
            > li {
               > ul {
                  > li {
                     a {
                        color: $grey;
                        font-size: 0.9rem;
                     }
                  }
               }
            }
         }
      }
   
      li {
         margin-top: 0;
         margin-bottom: 0;
         line-height: 1.6;
      }
   
      a {
         display: block;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
         border-top: 1px solid $grey06;
      }
   }
}