/* ==========================================================================
   page css
   ========================================================================== */

.layout--post .content-wrapper {
   margin: 2rem auto 3rem;
}

.content-wrapper {
   @include common_layout($margin: 3rem auto 4rem);

   &.content--has-toc {
      width: auto;
      max-width: max-content;
      margin-left: 29.948vw;
      margin-right: 4.948vw;
   }
}

.page {
   &__title {
      margin-bottom: 0.459em;
      padding-bottom: 0.459em;
      border-bottom: 1px solid $grey05;
      font-weight: 700;
      font-size: calc(1.75rem + 0.5vw);
      color: $black;
      line-height: 1.4;

      @media (min-width: $min_general_width) {
         font-size: 2rem;
      }
   }

   &__lead {
      display: block;
      margin-top: 0.676em;
      font-family: $default_font03;
      font-weight: 400;
      font-size: calc(1rem + 0.5vw);
      line-height: 1.5;
      color: $grey07;
      text-shadow: 1px 1px 0.2em rgba(0,0,0,0.5);

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }

      @media (min-width: $min_general_width) {
         font-size: 1.45rem;
      }
   }

   &__meta {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid $grey04;
      color: $black02;
      font-size: 0.9rem;

      + .pagination {
         display: table;
         width: 100%;
         margin-top: 1.5rem;
         margin-bottom: 2.5rem;
         border-collapse: collapse;
         table-layout: fixed;
      }
   }

   &__hero-source {
      font-size: 1rem;
   }

   &__share {
      display: flex;
      margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      flex-wrap: wrap;

      a {
         display: block;
         overflow: hidden;
         margin: 0 0.3rem 0.3rem 0;
         padding: 0.5rem 0.8rem;
         border-radius: 5px;
         font-family: $default_font03;
         font-weight: 500;
         font-size: 0.9rem;
         color: $grey12;

         &:before {
            font-family: $icon_font;
            font-size: 1.1em;
            -webkit-font-smoothing: antialiased;
            
            @media (min-width: $min_medium_width) {
               vertical-align: middle;
            }
         }
      }

      .btn {
         &--twitter {
            background-color: $twitter_color;

            &:before {
               content: "\ec1f";
            }
         }
      
         &--facebook {
            background-color: $facebook_color;

            &:before {
               content: "\ebd5";
            }
         }
      
         &--linkedin {
            background-color: $linkedin_color;

            &:before {
               content: "\ebf4";
            }
         }
      }

      &-title {
         width: 100%;
         margin-bottom: 0.65rem;
         font-weight: 700;
         font-size: 1rem;
         color: $black02;
      }

      span {
         @media (min-width: $min_medium_width) {
            margin-left: 0.1em;
            vertical-align: middle;
         }

         @media (max-width: $medium_width) {
            @include hide_text();
         }
      }
   }

   &__info-item-wrapper {
      display: flex;
      margin-bottom: 2rem;
      justify-content: flex-end;
      flex-wrap: wrap;
   }

   &__info-item {
      @include post_info_item;
      margin-left: 0.3rem;

      &:not(.page__info-item--date) {
         @include activate_element($offset: 2px);
      }

      &--date {
         @include post_info_item_date;
      }
   
      &--category {
         @include post_info_item_category;
      }
   
      &--tag {
         @include post_info_item_tag;
      }
   }
   
   &__content {
      line-height: 1.9;
      color: $black;
      @include clearfix;

      @media (min-width: $min_small_width) {
         font-size: 1.05rem;
      }

      p {
         margin-top: 1.429em;
         margin-bottom: 1.429em;

         &.float {
            &-left {
               @media (min-width: $min_medium_width) {
                  float: left;
                  margin-right: 3rem;
               }
            }

            &-right {
               @media (min-width: $min_medium_width) {
                  float: right;
                  margin-left: 3rem;
               }
            }
         }
      }

      a {
         &:not(.page__btn) {
            @media (min-width: $min_large_width) {
               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   }

   &__item {
      @include post_info_item;
   }
   
   &__author {
      margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      
      @media (min-width: $min_small_width) {
         @include clearfix;
      }
   
      .author {
         &__avatar {
            display: none;
      
            @media (min-width: $min_small_width) {
               display: block;
               float: left;
               width: 6rem;
               height: 6rem;
               margin-right: 1.5rem;
               margin-bottom: 0.5rem;
               shape-outside: circle(50%);

               + .author__info-wrapper {
                  padding-top: 1.3rem;
               }
            }
         }

         &__info-wrapper {
            color: $black02;
         }
   
         &__image-wrapper {
            height: 100%;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
         }
   
         &__name {
            display: block;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.2;

            @media (min-width: $min_small_width) {
               &:only-child {
                  margin-top: 1.2rem;
               }
            }
         }
   
         &__desc {
            margin-top: 0.3rem;
            font-size: 1rem;
            line-height: 1.4;
         }
      }
   }

   &__btn-top {
      display: block;
      overflow: hidden;
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem auto;

      &:before {
         content: "\e915";
         display: block;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         width: 1.75rem;
         height: 1.8rem;
         margin: auto;
         font-family: $icon_font;
         font-size: 1.8rem;
         color: $sub_color03;
         -webkit-font-smoothing: antialiased;
      }
   }
}

// post header
.post-header {
   @include common_layout($width: $layout_width_per, $min_general_width_value: null);
   padding: 0.9rem 0 2.5rem;
   color: $grey12;

   .page__title {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      font-family: $default_font03;
      color: inherit;
      text-shadow: 1px 1px 0.2em rgba(0,0,0,0.5);

      @media (min-width: $min_small_width) {
         font-size: calc(2.15rem + 0.5vw);
      }

      @media (min-width: $min_general_width) {
         font-size: 2.5rem;
      }
   }
}

// scroll-indicator
.scroll-indicator {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 0;
   height: 0.2rem;
   background-color: $green03;
   pointer-events: none;
   transition: width 0.2s;
}