/* ==========================================================================
   page css
   ========================================================================== */

.content-wrapper {
   @include common_layout();
   padding: 3rem 0 4rem;

   &.toc-layout {
      width: auto;
      max-width: max-content;
      margin-left: 30vw;
      margin-right: 5vw;
   }
}

.post {
   &-item {
      @include post_item();
   }

   &--date {
      @include post_item_date();
   }

   &--category {
      @include post_item_category();
   }
}

.page {
   &__title {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey05;
      font-family: $default_font03;
      font-weight: 700;
      font-size: 2rem;
      color: $black;
      line-height: 1.4;
   }

   &__lead {
      display: block;
      margin-bottom: 3rem;
      font-family: $default_font03;
      font-weight: 400;
      font-size: calc(100% - -0.5vw);
      line-height: 1.5;
      color: $grey07;

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }
   }

   &__meta {
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid $grey04;
      color: $black02;
      font-size: 0.9rem;

      + .pagination {
         display: table;
         width: 100%;
         margin-top: 1.5rem;
         margin-bottom: 2.5rem;
         border-collapse: collapse;
         table-layout: fixed;
      }
   }

   &__taxonomy {
      &-wrapper {
         margin-top: 0.5rem;
      }

      strong {
         font-family: $default_font03;
         font-weight: 700;
         color: $grey;

         &:after {
            content: "\2014";
            margin: 0 0.3rem;
            font-weight: 200;
         }
      }

      &-item {
         display: inline-block;
         height: 1.7rem;
         margin: 0 0.3rem 0.3rem 0;
         padding: 0 1rem;
         background: $grey06;
         border-radius: 5px;
         color: $black;
         line-height: 1.7rem;
      }
   }

   &__share {
      margin-top: 1.2rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;

      a {
         display: inline-block;
         overflow: hidden;
         margin: 0 0.3rem 0.3rem 0;
         padding: 0.5rem 1rem;
         border-radius: 5px;
         color: $grey12;
         font-size: 0.9rem;
      }

      .btn {
         &--twitter {
            background: $twitter_color;
         }
      
         &--facebook {
            background: $facebook_color;
         }
      
         &--linkedin {
            background: $linkedin_color;
         }
      }

      &-title {
         margin-bottom: 0.6rem;
         font-family: $default_font03;
         font-weight: 700;
         font-size: 0.9rem;
         color: $black02;
      }

      span {
         @media (max-width: $medium_width) {
            @include hide_text();
         }
      }
   }

   &__date {
      font-family: $default_font03;
      font-weight: 300;
      font-size: 1rem;
      text-align: right;
   }
   
   &__content {
      font-size: 1rem;
      line-height: 1.9;
      color: $black;
      word-break: keep-all;
      @include clearfix();

      @media (min-width: $min_small_width) {
         font-size: 1.05rem;
      }

      p {
         margin: 1.5rem 0;

         &.float {
            &--left {
               @media (min-width: $min_medium_width) {
                  float: left;
                  margin-right: 3rem;
               }
            }

            &--right {
               @media (min-width: $min_medium_width) {
                  float: right;
                  margin-left: 3rem;
               }
            }
         }
      }

      a {
         &:not(.page__btn) {
            @media (min-width: $min_large_width) {
               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   }

   &__item {
      @include post_item();
   }
   
   &__author {
      margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      
      @media (min-width: $min_small_width) {
         @include clearfix();
      }
   
      .author {
         &__avatar {
            display: none;
      
            @media (min-width: $min_small_width) {
               display: block;
               float: left;
               width: 6rem;
               height: 6rem;
               margin-right: 1.5rem;
               margin-bottom: 0.5rem;
               shape-outside: circle(50%);

               + .author__info-wrapper {
                  padding-top: 1.3rem;
               }
            }
         }
   
         &__image-wrapper {
            display: flex;
            overflow: hidden;
            height: 100%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
         }
   
         &__name {
            display: block;
            margin-bottom: 0.5rem;
            color: $black02;
            font-family: $default_font03;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.2;
         }
   
         &__desc {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.4;
         }
      }
   }

   &__move-to-top {
      display: block;
      overflow: hidden;
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem auto;
      background: none;
      stroke: $sub_color03;
      stroke-width: 8px;
   }
}

// hero layout
.hero {
   &-wrapper {
      padding: 8rem 0 4rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   &__inner-wrap {
      @include common_layout();
      color: $grey12;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
      text-align: center;
   
      .page__title {
         padding-bottom: 0;
         border-bottom: 0;
         font-size: calc(1.5rem + 1.2vw);
         color: inherit;
      }
   }
}