/* ==========================================================================
   page css
   ========================================================================== */

.layout--post {
   .content-wrapper {
      margin-top: 2rem;
      margin-bottom: 3rem;
   }
}

.content-wrapper {
   @include common-layout($margin-t: 3rem, $margin-b: 4rem);

   @media (min-width: $min-large-width) {
      &.content--has-toc {
         max-width: none;
         max-width: max-content;
         margin-left: 29.948vw;
         margin-right: 4.948vw;
      }
   }
}

.page {
   &__title {
      margin-bottom: 0.459641em;
      padding-bottom: 0.459641em;
      border-bottom: 1px solid $grey05;
      font-weight: 700;
      font-size: calc(1.75rem + 0.5vw);
      color: $black;
      line-height: 1.4;

      @media (min-width: $min-general-width) {
         font-size: 2rem;
      }
   }

   &__lead {
      display: block;
      margin-top: 0.675676em;
      font-family: $default-font03;
      font-weight: 400;
      font-size: calc(1rem + 0.5vw);
      line-height: 1.5;
      color: $grey07;
      text-shadow: 1px 1px 0.2em rgba(0,0,0,0.5);

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }

      @media (min-width: $min-general-width) {
         font-size: 1.45rem;
      }
   }

   &__footer {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid $grey04;
      color: $black02;

      ~ .pagination {
         display: table;
         width: 100%;
         margin-top: 1.5rem;
         margin-bottom: 2.5rem;
         border-collapse: collapse;
         table-layout: fixed;
      }
   }

   &__share {
      display: flex;
      margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      flex-wrap: wrap;

      &-title {
         width: 100%;
         margin-bottom: 0.65rem;
         font-weight: 700;
         font-size: 1rem;
         color: $black02;
      }

      > a {
         display: block;
         width: 2.556rem;
         height: 1.944rem;
         overflow: hidden;
         margin-right: 0.3rem;
         margin-bottom: 0.3rem;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
         padding-left: 0.8rem;
         padding-right: 0.8rem;
         border-radius: 5px;
         font-family: $default-font03;
         font-weight: 500;
         font-size: 0.9rem;
         color: transparent;
         box-sizing: border-box;

         @media (min-width: $min-medium-width) {
            width: auto;
            height: auto;
            color: $grey12;

            &:before {
               margin-right: 0.25rem;
            }
         }

         &:before {
            font-family: $icon-font;
            font-size: 1.1em;
            color: #fff;
            -webkit-font-smoothing: antialiased;
         }
      }

      > .btn {
         &--twitter {
            background-color: $twitter-color;

            &:before {
               content: "\ec1f";
            }
         }
      
         &--facebook {
            background-color: $facebook-color;

            &:before {
               content: "\ebd5";
            }
         }
      
         &--linkedin {
            background-color: $linkedin-color;

            &:before {
               content: "\ebf4";
            }
         }
      }
   }

   &__info-item-wrapper {
      display: flex;
      margin-bottom: 2rem;
      justify-content: flex-end;
      flex-wrap: wrap;
   }

   &__info-item {
      @include post-info-item;
      margin-left: 0.3rem;

      &:not(.page__info-item--date) {
         @include activate-element($offset: 2px);
      }

      &--date {
         @include post-info-item-date;
      }
   
      &--category {
         @include post-info-item-category;
      }
   
      &--tag {
         @include post-info-item-tag;
      }
   }
   
   &__content {
      line-height: 1.9;
      color: $black;
      @include clearfix;

      @media (min-width: $min-small-width) {
         font-size: 1.05rem;
      }

      h2:not(.toc__title) {
         @include heading;
         margin-top: 0.789474em;
         margin-bottom: 0.526316em;
         font-size: calc(1.7rem + 0.5vw);
   
         @media (min-width: $min-small-width) {
            font-size: 1.9rem;
         }
      }
   
      h3 {
         @include heading;
         margin-top: 0.558824em;
         margin-bottom: 0.558824em;
         font-size: calc(1.51rem + 0.5vw);
   
         @media (min-width: $min-small-width) {
            font-size: 1.7rem;
         }
      }
   
      h4 {
         @include heading;
         margin-top: 0.5em;
         margin-bottom: 0.5em;
         font-size: calc(1.32rem + 0.5vw);
   
         @media (min-width: $min-small-width) {
            font-size: 1.5rem;
         }
      }
   
      h5 {
         @include heading;
         margin-top: 0.444444em;
         margin-bottom: 0.444444em;
         font-size: calc(1.16rem + 0.5vw);
   
         @media (min-width: $min-small-width) {
            font-size: 1.35rem;
         }
      }
   
      h6 {
         @include heading;
         margin-top: 0.4em;
         margin-bottom: 0.4em;
         font-size: calc(1.01rem + 0.5vw);
   
         @media (min-width: $min-small-width) {
            font-size: 1.2rem;
         }
      }

      p {
         margin-top: $p-default-margin;
         margin-bottom: $p-default-margin;

         &.float {
            &-left {
               @media (min-width: $min-medium-width) {
                  float: left;
                  margin-right: 3rem;
               }
            }

            &-right {
               @media (min-width: $min-medium-width) {
                  float: right;
                  margin-left: 3rem;
               }
            }
         }
      }

      a {
         &:not(.page__btn) {
            @media (min-width: $min-large-width) {
               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   
      img {
         display: block;
         width: calc(100% + (#{$layout-margin} * 2));
         max-width: calc(100% + (#{$layout-margin} * 2));
         margin-left: -$layout-margin;
         margin-right: -$layout-margin;
         box-shadow: rgba(0,0,0,0.4) 0.15rem 0.15rem 1rem 0;

         @media (min-width: $min-minimal-width) {
            width: auto;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
         }
   
         ~ em {
            display: block;
            @include figcaption;
         }
      }
   
      hr {
         display: flex;
         margin-top: 0;
         margin-bottom: 0;
         border-top: 0;
         justify-content: center;
   
         &:before {
            content: "\2026";
            display: block;
            font-size: 3rem;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
         }
      }
   }

   &__item {
      @include post-info-item;
   }
   
   &__author {
      margin-top: 1rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      
      @media (min-width: $min-small-width) {
         @include clearfix;
      }
   
      .author {
         &__avatar {
            display: none;
      
            @media (min-width: $min-small-width) {
               display: block;
               float: left;
               width: 6rem;
               height: 6rem;
               margin-right: 1.5rem;
               margin-bottom: 0.5rem;
               shape-outside: circle(50%);

               ~ .author__info-wrapper {
                  padding-top: 1.3rem;
               }
            }
         }

         &__info-wrapper {
            color: $black02;
         }
   
         &__image-wrapper {
            height: 100%;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
         }
   
         &__name {
            display: block;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.2;

            @media (min-width: $min-small-width) {
               &:only-child {
                  margin-top: 1.2rem;
               }
            }
         }
   
         &__desc {
            margin-top: 0.3rem;
            font-size: 1rem;
            line-height: 1.4;
         }
      }
   }

   &__btn-top {
      display: block;
      overflow: hidden;
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem auto;

      &:before {
         content: "\e915";
         display: block;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         width: 1.75rem;
         height: 1.8rem;
         margin: auto;
         font-family: $icon-font;
         font-size: 1.8rem;
         color: $sub-color03;
         -webkit-font-smoothing: antialiased;
      }
   }
}

// post header
.post-header {
   @include common-layout($max-width: $layout-wide-width);
   padding-top: 4rem;
   padding-bottom: 5rem;
   color: $grey12;

   > .page__title {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      font-family: $default-font03;
      color: inherit;
      text-shadow: 1px 1px 0.2em rgba(0,0,0,0.5);

      @media (min-width: $min-small-width) {
         font-size: calc(2.15rem + 0.5vw);
      }

      @media (min-width: $min-general-width) {
         font-size: 2.5rem;
      }
   }
}

// scroll-indicator
.scroll-indicator {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 0;
   height: 0.2rem;
   background-color: $green03;
   pointer-events: none;
   transition: width 0.2s;
}