/* ==========================================================================
   print css
   ========================================================================== */

@media print {

  // IE 체크
  .guide--ie {
    display: none;
  }

  // anchor
  a {
    color: inherit;
  }

  // masthead
  .masthead {
    display: none;
  }

  // teaser
  .hero-wrapper {
    display: none;
  }

  // heading link
  .heading-link {
    display: none;
  }

  // blockquote
  blockquote {
    &:before {
      display: none;
    }
  }

  // toc
  .toc-wrapper {
    display: none;

    &.toc--fixed {
      display: none;
    }
  }
  
  // iframe
  iframe {
    width: 100%;
  }

  // code highlight
  div.highlighter-rouge,
  code.highlighter-rouge,
  figure.highlight {
    border: 1px solid $grey;
  }

  // share link
  .page__share {
    display: none;
  }

  // page author
  .page__author {
    display: none;
  }

  // mastfoot
  .mastfoot {
    display: none;
  }

  // layout
  .layout {

    // post layout
    &--post {

      // toc
      .content-wrapper {
        &.toc-layout {
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      // 페이지네이션
      .pagination {
        display: none;
      }
    }
  }
}