/* ==========================================================================
   print css
   ========================================================================== */

@media print {

  // IE 체크
  .ie-alert {
    display: none;
  }

  // anchor
  a {
    color: inherit;
  }

  // masthead
  .masthead {
    display: none;
  }

  // heading link
  .heading-link {
    display: none;
  }

  // blockquote
  blockquote {
    &:before {
      display: none;
    }
  }

  // toc
  .toc-wrapper {
    display: none;

    &.toc--fixed {
      display: none;
    }
  }

  // syntax
  .highlight table {
    td {
      &.rouge-gutter {
        text-shadow: none;
      }
    }
  }
  
  // iframe
  iframe {
    width: 100%;
  }

  // code highlight
  div.highlighter-rouge,
  code.highlighter-rouge,
  figure.highlight {
    border: 1px solid $grey;
  }

  // page footer
  .page__footer {
    display: none;
  }

  // mastfoot
  .mastfoot {
    display: none;
  }

  // layout
  .layout {

    // post layout
    &--post {

      // toc
      .content-wrapper {
        &.content--has-toc {
          max-width: none;
          margin-left: $layout-margin;
          margin-right: $layout-margin;
        }
      }

      // 페이지네이션
      .pagination {
        display: none;
      }
    }
  }
}