/* ==========================================================================
   print css
   ========================================================================== */

@media print {

  .skip-links,
  .ie-alert,
  .masthead,
  .mastfoot,
  .page__footer,
  .page__header-link,
  .highlight table td.rouge-gutter {
    display: none;
  }

  a {
    color: inherit;
  }

  table, blockquote, pre, code, figure, li, hr, ul, ol, a, tr {
    page-break-inside: avoid
  }

  pre {
    white-space: pre-wrap !important;
    word-wrap: break-word
  }

  blockquote {
    &:before {
      display: none;
    }
  }

  .toc-wrapper {
    display: none;

    &.toc--fixed {
      display: none;
    }
  }

  .archive__item__info-item,
  .page__info-item {
    text-shadow: none !important;
  }

  div.highlighter-rouge,
  code.highlighter-rouge,
  figure.highlight {
    border: 1px solid $grey;
    text-shadow: none;
  }

  .highlight pre {
    overflow: visible;
  }

  .highlight table {
    td {
      &.rouge-gutter {
        text-shadow: none;
      }
    }
  }
  
  iframe {
    width: 100%;
  }

  .layout {
    &--post {
      .content-wrapper {
        &.content--has-toc {
          max-width: none;
          margin-left: $layout-margin;
          margin-right: $layout-margin;
        }
      }

      .highlight__copy-button {
        display: none;
      }

      .page__footer {
        ~ .pagination {
          display: none;
        }
      }
    }
  }
}