/* ==========================================================================
   search css
   ========================================================================== */

.search-content {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  padding: 2.5rem 2.969vw;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 0.2s ease-in-out;

  &--active {
    display: block;
  }

  &--animate {
    opacity: 1;
  }

  &__inner-wrap {
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border: 2px solid $black05;
    background-color: $grey12;
    box-shadow: rgba(0,0,0,0.1) 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;

    @media (min-width: $min-small-width) {
      padding-top: 3rem;
    }

    @media (min-width: $min-large-width) {
      padding: 4rem 2.604vw;
    }
  }

  &__input-wrapper {
    position: relative;
    margin-top: 1rem;
    border-bottom: 1px solid $main-color;

    @media (min-width: $min-large-width) {
      padding-left: 3.8rem;

      &:before {
        content: "\e97a";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        font-family: $icon-font;
        font-size: 3.2em;
        color: $sub-color03;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}

.search {
  &__input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    color: $black02;
    @include search-item;
  }

  &__title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $black02;
    font-weight: 300;
    pointer-events: none;
    white-space: nowrap;
    @include search-item;

    @media (min-width: $min-large-width) {
      left: 3.8rem;
      width: calc(100% - 3.8rem);
    }
  }

  &__results {
    margin-top: 1.5em;
    padding-left: 0;
    font-size: 0.85rem;
    list-style: none;
  
    @media (min-width: $min-minimal-width) {
      font-size: 0.9rem;
    }
  
    @media (min-width: $min-small-width) {
      font-size: inherit;
    }
  
    &__item {
      $b-value: 0.85em !default;

      padding-top: $b-value / 2;
      padding-bottom: $b-value;
      border-bottom: 1px dotted $grey09;
  
      > a {
        display: block;
        color: $black;
  
        @media (min-width: $min-large-width) {
          &:hover {
            color: $sub-color03;
            text-decoration: underline;
          }
        }
      }
    }

    &__match {
      font-weight: 700;
      color: $sub-color03;
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
  
    &:before {
      content: "\e9af";
      display: block;
      font-family: $icon-font;
      font-size: 1.5rem;
      color: $main-color;
      -webkit-font-smoothing: antialiased;
   }
  }
}