/* ==========================================================================
   search css
   ========================================================================== */

.search-content {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  box-sizing: border-box;
  transition: opacity .2s ease-in-out;

  &--active {
    display: block;
  }

  &--animate {
    opacity: 1;
  }

  &__inner-wrap {
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: 3rem $layout-margin;
    padding: 2.5rem 1rem 1rem 1rem;
    border: 1px solid $black05;
    background-color: $grey12;
    box-shadow: rgba(0,0,0,.1) .5rem .5rem .5rem;
    box-sizing: border-box;

    @media (min-width: $min-large-width) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: $min-normal-width) {
      width: 100%;
      max-width: $standard-width + px;
      height: 40rem;
      margin: auto;
    }
  }

  &__input-wrapper {
    position: relative;
    margin-top: 1rem;
    margin-bottom: .45rem;
    border-bottom: 1px solid $black03;

    @media (min-width: $min-large-width) {
      padding-left: 3.8rem;
    }
  }
}

.search {
  &__input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    color: inherit;
    @include search-item;
  }

  &__title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    color: $black02;
    pointer-events: none;
    white-space: nowrap;
    @include search-item;

    @media (min-width: $min-large-width) {
      left: 3.8rem;
      width: calc(100% - 3.8rem);
    }
  }

  &__icon {
    display: none;

    @media (min-width: $min-large-width) {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: 1em;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 3.2em;
      color: $sub-color03;
    }
  }

  &__util {
    &-wrapper {
      display: flex;
      margin-top: .9rem;
      flex-wrap: wrap;
    }

    &__item {
      display: inline-block;
      margin: 0 .4rem .4rem 0;
      padding: .4rem;
      background-color: $grey02;
      font-size: .9rem;
      line-height: 1.3;
      vertical-align: middle;
    }
  }

  &__link-wrapper {
    display: none;
    padding: 0;

    &--active {
      display: inline-block;
    }

    > a {
      display: block;
      padding: .4rem;
    }
  }

  &__count-wrapper {
    display: none;

    &--active {
      display: inline-block;
    }
  }

  &__word {
    color: $sub-color03;
  }

  &__count {
    color: $sub-color03;
  }

  &__results {
    overflow-y: auto;
    height: 33rem;
    margin-top: .5em;
    padding-left: 0;
    font-size: .85rem;
    list-style: none;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      &-track {
        border-radius: .5rem;
        background-image: linear-gradient(to bottom, rgba(216,216,216,0.3), rgba(185,185,185,0.3));
      }

      &-thumb {
        border-radius: .5rem;
        background-color: $grey09;

        &:hover{
          background-color: $grey11;
        }
      }
    }
  
    @media (min-width: $min-minimal-width) {
      font-size: .9rem;
    }
  
    @media (min-width: $min-small-width) {
      font-size: inherit;
    }

    @media (min-width: $min-medium-width) {
      height: 29rem;
    }
  
    @media (min-width: $min-large-width) {
      height: 26rem;
    }
  
    &__item {
      $b-value: .85em !default;

      position: relative;
      margin-right: .5rem;
      padding-top: $b-value / 2;
      padding-bottom: $b-value;
      border-bottom: 1px dotted $grey09;
      line-height: 1.6;
      color: $black03;
  
      > a {
        display: block;
        position: relative;
        z-index: 1;
        color: inherit;

        @media (min-width: $min-medium-width) {
          padding-right: 9rem;
        }
  
        @media (min-width: $min-large-width) {
          &:hover {
            color: $sub-color03;
            text-decoration: underline;
          }
        }
      }
    }

    &__match {
      font-weight: 700;
      color: $sub-color03;
    }

    &__date {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: auto;
      height: 1.6rem;
      margin-top: auto;
      margin-bottom: auto;
      font-size: .95rem;
      color: inherit;

      @media (min-width: $min-medium-width) {
        display: block;
      }
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
  
    > i {
      display: block;
      font-size: 1.5rem;
      color: $main-color;
    }
  }
}