/* ==========================================================================
   Syntax highlighting CSS
   ========================================================================== */

div.highlighter-rouge,
code.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: $code-black;
  font-family: $default-font02;
  font-size: 0.904762em;
  line-height: 1.8;
  color: $grey08;

  ::selection {
    background-color: $grey12;
    color: $black04;
  }

  > pre,
  pre.highlight {
    margin: 0;
	  padding: 0.5rem 1rem;
  }
}

code {
  &.highlighter-rouge {
    margin-left: 0.3157895em;
    margin-right: 0.3157895em;
    padding: 0.368421em 0.578947em;
    // line-height: 2.2;
    line-height: 1;
    vertical-align: middle;
  }
}

.highlight table {
  table-layout: auto;

  td {
    padding: 0.25rem;
    border: 0;
    text-align: left;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1rem;
      width: 1rem;
      color: $grey03;
      border-right: 1px solid $grey03;
      text-align: right;
	}
	
	&.rouge-gutter {
	  text-shadow: rgba(0,0,0,0.6) 1px 1px 0.25rem;
	}

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1rem;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight {
  .hll {
    background-color: $code-grey02;
  }

  > pre {
	  overflow: auto;
  }

  pre {
    width: 100%;
    white-space: pre;
  }

  .c {
	  color: $code-grey;
  }

  .err {
	  color: $code-red;
  }

  .k {
	  color: $code-purple;
  }

  .l {
	  color: $code-orange;
  }

  .n, .h {
	  color: $grey08;
  }

  .o {
	  color: $code-green;
  }

  .p {
	  color: $grey08;
  }

  .cm, .cp, .c1, .cs {
	  color: $code-grey;
  }

  .gd {
	  color: $code-red;
  }

  .ge {
	  font-style: italic;
  }

  .gh {
    color: $grey08;
    font-weight: 700;
  }

  .gi {
	  color: $code-green02;
  }

  .gp {
    color: $code-grey;
    font-weight: 700;
  }

  .gs {
	  font-weight: 700;
  }

  .gu {
    color: $code-green;
    font-weight: 700;
  }

  .kc, .kd {
	  color: $code-purple;
  }

  .kn {
	  color: $code-green;
  }

  .kp, .kr {
	  color: $code-purple;
  }

  .kt {
	  color: $code-yellow;
  }

  .ld {
	  color: $code-green02;
  }

  .m {
	  color: $code-orange;
  }

  .s {
	  color: $code-green02;
  }

  .na {
	  color: $code-blue;
  }

  .nb {
	  color: $grey08;
  }

  .nc {
	  color: $code-yellow;
  }

  .no {
	  color: $code-red;
  }

  .nd {
	  color: $code-green;
  }

  .ni {
	  color: $grey08;
  }

  .ne {
	  color: $code-red;
  }

  .nf {
	  color: $code-blue;
  }

  .nl {
	  color: $grey08;
  }

  .nn {
	  color: $code-yellow;
  }

  .nx {
	  color: $code-blue;
  }

  .py {
	  color: $grey08;
  }

  .nt {
	  color: $code-green;
  }

  .nv {
	  color: $code-red;
  }

  .ow {
	  color: $code-green;
  }

  .w {
	  color: $grey08;
  }

  .mf, .mh, .mi, .mo {
	  color: $code-orange;
  }

  .sb {
	  color: $code-green02;
  }

  .sc {
	  color: $grey08;
  }

  .sd {
	  color: $code-grey;
  }

  .s2 {
	  color: $code-green02;
  }

  .se {
	  color: $code-orange;
  }

  .sh {
	  color: $code-green02;
  }

  .si {
	  color: $code-orange;
  }

  .sx, .sr, .s1, .ss {
	  color: $code-green02;
  }

  .bp {
	  color: $grey08;
  }

  .vc, .vg, .vi {
	  color: $code-red;
  }

  .il {
	  color: $code-orange;
  }
}

.gist {
  th, td {
    border-bottom: 0;
  }
}