---
layout: page
title: Posts by year
class: page--posts-by-year
---

{% assign yearOfPost = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in yearOfPost %}
<h2>
	<button type="button" aria-controls="list-{{ year.name }}" aria-expanded="false" id="btn-{{ year.name }}" class="archive__btn"><span class="archive__btn__point">{{ year.name }}</span>년에 작성된 글 <small class="archive__list-count"><span class="sr-only">{{ site.data.ui-text[site.locale].main_menu_number_of_posts }}</span> ({{ year.items.size }})</small></button>
</h2>

<div aria-labelledby="btn-{{ year.name }}" id="list-{{ year.name }}" class="archive__list">
	<ul>
		{% for post in year.items %}
		<li>
			<a href="{{ post.url }}" rel="permalink">{{ post.title }}</a> <span class="archive__list__date">{{ post.date | date: "%B, %d, %Y" }}</span>
		</li>
		{% endfor %}
	</ul>

	<a href="#btn-{{ year.name }}" class="page__btn-top">
		<span class="sr-only">{{ site.data.ui-text[site.locale].move_to_archive_button }}</span>
	</a>
</div>
{% endfor %}