---
layout: default
title: Posts by year
---

<main class="content-wrapper" id="content">
	<article itemscope>
		<header>
			<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title }}</h1>
		</header>
	
		<section class="page--default archive posts-by-year" itemprop="text">
			{% assign yearOfPost = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
			{% for year in yearOfPost %}
			<h2>
				<button type="button" class="archive__btn" id="{{ year.name }}" aria-controls="{{ year.name }}-list" aria-expanded="false"><span>{{ year.name }}</span>{{ site.data.ui-text[site.locale].post_by_year_button }} <small class="archive__list-count" aria-hidden="true">({{ year.items.size }})</small></button>
			</h2>
	
			<div class="archive__list" id="{{ year.name }}-list" role="region" aria-labelledby="{{ year.name }}">
				<ul>
					{% for post in year.items %}
					<li {% if year.items.size == 1 %}role='presentation'{% endif %}>
						<a href="{{ post.url }}" rel="permalink">{{ post.title }}</a> <span>{{ post.date | date: "%B %d" }}</span>
					</li>
					{% endfor %}
				</ul>
	
				<a href="#skip-links" class="page__btn--top">
					<span class="visually-hidden">{{ site.data.ui-text[site.locale].move_to_top }}</span>
					<svg class="svg--ico" viewbox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path d="M 400 350 L 400 100 L 300 200 L 400 100 L 500 200" transform="translate(-140,30)"></path>
					</svg>
				</a>
			</div>
			{% endfor %}
		</section>
	</article>
</main>