{%- if post.id -%}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{%- else -%}
  {% assign title = post.title %}
{%- endif -%}

{%- assign postUrl = post.url | relative_url -%}
{%- assign postUrl_r = postUrl | replace: '/', '' | replace: '-', '' -%}

<li>
  <article data-id="{{ postUrl_r }}" aria-labelledby="title-{{ postUrl_r }}" aria-describedby="desc-{{ postUrl_r }}" class="archive__item">
    <header class="archive__item-header">
      <h3 id="title-{{ postUrl_r }}" class="archive__item-title">
        <a href="{{ postUrl }}" rel="permalink">{{ title }}</a>
      </h3>
    </header>
    {%- if post.subtitle -%}
    <strong itemprop="alternativeHeadline" class="archive__item-subtitle">{{ post.subtitle }}</strong>
    {%- endif -%}

    {%- if page.layout == "home" or page.layout == "archive" or page.layout == "categories" or page.layout == "tags" -%}
    {%- if post.header.overlay_image -%}
    <p class="archive__item-thumb"></p>
    {%- endif -%}
    {%- endif -%}

    <p id="desc-{{ postUrl_r }}" class="archive__item-content{% if post.home_dropcap != false %} has-dropcap{% endif %}">{{ post.content | markdownify | strip_html | truncate: 140 }}</p>
  
    <div class="archive__item__info-item-wrapper">
      {%- if post.date -%}
      <span class="archive__item__info-item archive__item__info-item--date">
        <i aria-hidden="true" class="xi-time-o"></i>
        <span class="sr-only">{{ site.data.ui-text[site.locale].date_label }}</span>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %m월 %d일" }}</time>
      </span>
      {%- endif -%}
  
      {%- if post.categories.size > 0 -%}
      {%- for category in post.categories -%}
      <span itemprop="keywords" rel="tag" class="archive__item__info-item archive__item__info-item--category">
        <i aria-hidden="true" class="xi-paper"></i> {{ category }}
      </span>
      {%- endfor -%}
      {%- endif -%}
  
      {%- if post.tags.size > 0 -%}
      {%- for tag in post.tags -%}
      <span itemprop="keywords" rel="tag" class="archive__item__info-item archive__item__info-item--tag">
        <i aria-hidden="true" class="xi-tag"></i> {{ tag }}
      </span>
      {%- endfor -%}
      {%- endif -%}
    </div>
  </article>
</li>
