{% if site.author.avatar %}
<div aria-hidden="true" class="author__avatar">
  <div class="author__image-wrapper"{% if site.author.avatar %} style="background-image: url({{ site.author.avatar }});"{% endif %}></div>
</div>
{% endif %}
<div aria-labelledby="author-name"{% if site.author.desc %} aria-describedby="author-desc"{% endif %} itemscope itemtype="https://schema.org/Thing" class="author__info-wrapper">
  <{% if page.layout != "post" %}strong{% else %}h2{% endif %} itemprop="name" id="author-name" class="author__name">{{ site.author.name }}</{% if page.layout != "post" %}strong{% else %}h2{% endif %}>
  {% if site.author.desc %}<p itemprop="description" id="author-desc" class="author__desc">{{ site.author.desc }}</p>{% endif %}
  {% if site.theme_type == "type1" and page.layout != "post" %}
    {% if site.author.links %}
      {% include author-link.html %}
    {% endif %}
  {% endif %}
</div>