{% if site.author.avatar %}
<div class="author__avatar" aria-hidden="true">
  <div class="author__image-wrapper">
    <img src="{{ site.author.avatar }}" alt="" class="{%if site.author.avatar_filter%}image--grayscale{%endif%}">
  </div>
</div>
{% endif %}
<div class="author__info-wrapper" aria-labelledby="author-name" itemscope>
  <{% if page.layout != "post" %}strong{% else %}h2{% endif %} class="author__name" id="author-name" itemprop="name">{{ site.author.name }}</{% if page.layout != "post" %}strong{% else %}h2{% endif %}>
  {% if site.author.desc %}<p class="author__desc" itemprop="description">{{ site.author.desc }}</p>{% endif %}
  {% if site.theme_type == "type1" and page.layout != "post" %}
    {% if site.author.links %}
    {% include author_link.html %}
    {% endif %}
  {% endif %}
</div>