{% if page.header.image contains "://" %}
  {% capture img_path %}{{ page.header.image }}{% endcapture %}
{% else %}
  {% capture img_path %}{{ page.header.image | relative_url }}{% endcapture %}
{% endif %}

{% if page.header.cta_url contains "://" %}
  {% capture cta_path %}{{ page.header.cta_url }}{% endcapture %}
{% else %}
  {% capture cta_path %}{{ page.header.cta_url | relative_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_image contains "://" %}
  {% capture overlay_img_path %}{{ page.header.overlay_image }}{% endcapture %}
{% elsif page.header.overlay_image %}
  {% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}
{% else %}
  {% if site.masthead.teaser.bg %}
    {% capture overlay_img_path %}{{ site.masthead.teaser.bg }}{% endcapture %}
  {% endif %}
{% endif %}

{% if page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
{% else %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ site.masthead.teaser.filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

{% include iecheck.html %}

<div id="masthead" class="masthead
{% if site.masthead.teaser.bg and page.layout != 'post' %} masthead--image{% endif %}
{% if site.masthead.teaser.blur and page.layout != 'post' %} masthead--blur{% endif %}"
{% if site.masthead.teaser.bg and page.layout != 'post' %} style="background-image: {% if site.masthead.teaser.filter %}linear-gradient(rgba(0,0,0,{{ site.masthead.teaser.filter }}), rgba(0,0,0,{{ site.masthead.teaser.filter }})), {% endif %}url({{ site.masthead.teaser.bg }});{% if site.masthead.teaser.position %} background-position: {{ site.masthead.teaser.position }};{% endif %}"{% endif %}
{% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.bg %} style="background-image: {% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.filter %}linear-gradient(rgba(0,0,0,{{ site.masthead.teaser.filter }}), rgba(0,0,0,{{ site.masthead.teaser.filter }})), {% endif %}url({{ site.masthead.teaser.bg }});{% if site.masthead.teaser.position %} background-position: {{ site.masthead.teaser.position }};{% endif %}"{% endif %}
{% if page.layout == 'post' %} style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{ overlay_img_path }}');{% endif %}{% if page.header.image_position %} background-position: {{ page.header.image_position }};{% endif %}{% if page.header.image_position-x %}background-position-x: {{ page.header.image_position-x }}{% endif %}{% if page.header.image_position-y %}background-position-y: {{ page.header.image_position-y }}{% endif %}"{% endif %}>

  <nav aria-labelledby="site-title" id="site-nav" class="site-nav">
    <a href="{{ '/' | relative_url }}"{% if page.url == '/' %} aria-current="page"{% endif %} id="site-title" class="site-title{% if site.theme_type == 'type2' and site.author.avatar %} has-image{% endif %}{% unless site.subtitle %} has-only-title{% endunless %}">
      {% if site.theme_type == "type2" and site.author.avatar %}
      <span aria-hidden="true" class="site-title__author-image">
        <span{% if site.author.avatar %} style="background-image: url({{ site.author.avatar }});"{% endif %}></span>
      </span>
      {% endif %}
      {{ site.title }}
      {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
    </a>
    <div class="nav__btn-wrapper">
      {% if site.search == true %}
      <button type="button" aria-controls="search-layer" aria-expanded="false" class="nav__item nav__search-open">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label }}</span>
      </button>
      {% endif %}
      <button type="button" aria-haspopup="menu" aria-controls="primary-nav" aria-expanded="false" class="nav__item nav__menu-open">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label }}</span>
      </button>
    </div>
  </nav>
  {% if page.layout == "post" %}
    {% include post-header.html %}
  {% endif %}
  {% if site.theme_type == "type1" %}
  {% unless page.layout == "post" %}
  <div class="author-wrapper">
    {% include author.html %}
  </div>
  {% endunless %}
  {% endif %}
</div>