<header class="masthead{% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.bg %} teaser--image{% endif %}{% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.blur %} teaser--blur{% endif %}"{% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.bg %} style="background-image: {% if site.theme_type == 'type2' and page.layout != 'post' and site.masthead.teaser.filter %}linear-gradient(rgba(0,0,0,{{ site.masthead.teaser.filter }}), rgba(0,0,0,{{ site.masthead.teaser.filter }})), {% endif %}url({{ site.masthead.teaser.bg }});{% if site.masthead.teaser.position %} background-position: {{ site.masthead.teaser.position }};{% endif %}"{% endif %}>
  <nav class="site-nav" id="site-nav" aria-labelledby="site-title">
    <a href="{{ '/' | relative_url }}" id="site-title" class="site-title{% if site.theme_type == 'type2' and site.author.avatar %} has--image{% endif %}{% unless site.subtitle %} has--only-title{% endunless %}"{% if page.url == '/' %} aria-current="page"{% endif %}>
      {% if site.theme_type == "type2" and site.author.avatar %}
      <span class="site-title__author-image" aria-hidden="true">
        <span>
          <img src="{{ site.author.avatar }}" alt="" class="{%if site.author.avatar_filter%}image--grayscale{%endif%}">
        </span>
      </span>
      {% endif %}
      {{ site.title }}
      {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
    </a>
    <div class="nav__btn-wrapper">
      {% if site.search == true %}
      <button class="nav__item nav__search-open" type="button" aria-controls="search-layer" aria-expanded="false">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label }}</span>
      </button>
      {% endif %}
      <button type="button" class="nav__item nav__menu-open" aria-haspopup="menu" aria-controls="primary-nav" aria-expanded="false">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label }}</span>
      </button>
    </div>
  </nav>
  {% if site.theme_type == "type1" %}
  {% unless page.layout == "post" %}
  <div class="masthead__teaser{% if site.masthead.teaser.bg %} teaser--image{% endif %}{% if site.masthead.teaser.blur %} teaser--blur{% endif %}"{% if site.masthead.teaser.bg %} style="background-image: {% if site.masthead.teaser.filter %}linear-gradient(rgba(0,0,0,{{ site.masthead.teaser.filter }}), rgba(0,0,0,{{ site.masthead.teaser.filter }})), {% endif %}url({{ site.masthead.teaser.bg }});{% if site.masthead.teaser.position %} background-position: {{ site.masthead.teaser.position }};{% endif %}"{% endif %}>
    <div class="author-wrapper">
      {% include author.html %}
    </div>
  </div>
  {% endunless %}
  {% endif %}
</header>