{%- assign categories_max = 0 -%}
{%- for category in site.categories -%}
  {%- if category[1].size > categories_max -%}
    {% assign categories_max = category[1].size %}
  {%- endif -%}
{%- endfor -%}

<div aria-hidden="true" id="side-menu" class="side-menu">
  <nav aria-labelledby="nav-title" itemscope itemtype="https://schema.org/SiteNavigationElement" id="primary-nav" class="menu__layer">
    <button type="button" aria-controls="primary-nav" class="menu__close">
      <span class="sr-only">{{ site.data.ui-text[site.locale].main_menu_close_label }}</span>
    </button>

    <h2 id="nav-title">{{ site.data.ui-text[site.locale].menu_primary_menu | default: 'Primary menu' }}</h2>
    <ul role="menu"{% if site.main_menu.primary_links_grid %} class="menu__list--grid"{% endif %}>
      {%- for link in site.data.navigation.main -%}
      {%- assign url = link.url -%}
      <li role="menuitem"{% if page.url == url %} class="menuitem--current-page"{% endif %}>
        <a href="{{ site.url }}{{ url }}"{% if page.url == url %} title="{{ site.data.ui-text[site.locale].current_page }}"{% endif %} itemprop="url">{{ link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  
    {%- if site.categories.size > 0 -%}
    <h3>{{ site.data.ui-text[site.locale].main_menu_categories | default: 'Categories' }}</h3>
    <ul{% if site.main_menu.category_list_grid %} class="menu__list--grid"{% endif %}>
      {%- for i in (1..categories_max) reversed -%}
        {%- for category in site.categories limit: 8 -%}
          {%- if category[1].size == i -%}
          <li>
            <a href="{{ site.url }}/category-list/#btn-{{ category[0] | replace: ' ', '0' | url_encode | replace: '%', '1' | replace: '.', '2' | downcase }}">{{ category[0] }}</a>
            <small class="menu__list-count"><span class="sr-only">{{ site.data.ui-text[site.locale].main_menu_number_of_posts }}</span> ({{ category[1].size }})</small>
          </li>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>

    <a href="{{ site.url }}/category-list/" class="menu__more">
      <span class="sr-only">{{ site.data.ui-text[site.locale].main_menu_category_more }}</span>
    </a>
    {%- endif -%}

    {%- if site.data.navigation.etc -%}
    <h3>etc.</h3>
    <ul>
      {%- for link in site.data.navigation.etc -%}
      {%- assign url = link.url -%}
      <li>
        <a href="{{ site.url }}{{ url }}"{% if link.new_window %} target="_blank" title="{{ site.data.ui-text[site.locale].target_blank }}" rel="noopener noreferrer nofollow"{% endif %}>{{ link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}

    <section itemscope itemtype="https://schema.org/Thing" class="menu__author-wrapper">
      <h2 itemprop="name" class="menu__author-name">{{ site.author.name }}</h2>
      {%- if site.author.desc -%}
      <p itemprop="description" class="menu__author-desc">{{ site.author.desc }}</p>
      {%- endif -%}
      {% include author-link.html class='menu__author-links' %}
    </section>
  </nav>
</div>