{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<div aria-hidden="true" class="side-menu">
  <nav aria-labelledby="nav-title" itemscope itemtype="https://schema.org/SiteNavigationElement" id="primary-nav" class="menu__layer">
    <h2 id="nav-title">{{ site.data.ui-text[site.locale].menu_primary_links | default: 'Primary links' }}</h2>
    <ul role="menu" class="menu__list--grid">
      {%- for link in site.data.navigation.main -%}
      {%- if link.url contains '://' -%}
        {%- assign url = link.url -%}
      {%- else -%}
        {%- assign url = link.url | relative_url -%}
      {%- endif -%}
      <li role="menuitem"{% if page.url == url %} class="menuitem--current-page"{% endif %}>
        <a href="{{ url }}"{% if page.url == url %} aria-current="page"{% endif %} itemprop="url">{{ link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  
    <h2>{{ site.data.ui-text[site.locale].menu_categories | default: 'Categories' }}</h2>
    {% if site.categories.size > 0 %}
    <ul>
      {% for i in (1..categories_max) reversed %}
      {% for category in site.categories limit: 8 %}
      {% if category[1].size == i %}
      <li>
        <a href="/category-list/#btn-{{ category[0] | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}">{{ category[0] }}</a>
        <small class="menu__list-count">({{ category[1].size }})</small>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>

    <a href="/category-list/" class="menu__more">
      <span class="visually-hidden">{{ site.data.ui-text[site.locale].main_nav_category_more }}</span>
    </a>
    {% else %}
    <p class="menu__alert">{{ site.data.ui-text[site.locale].no_category }}</p>
    {% endif %}

    {% if site.theme_type == "type2" %}
      <div aria-labelledby="menu-author-title" itemscope itemtype="https://schema.org/Thing" class="menu__author-wrapper">
        <strong id="menu-author-title" class="menu__author-name">{{ site.author.name }}</strong>
        {% if site.author.desc %}
        <p itemprop="description" class="menu__author-desc">{{ site.author.desc }}</p>
        {% endif %}
        {% include author_link.html class='menu__author-links' %}
      </div>
    {% endif %}
    
    <button type="button" aria-controls="primary-nav" class="menu__close">
      <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_close_label }}</span>
    </button>
  </nav>
</div>