<header itemscope itemtype="https://schema.org/CreativeWork" class="post-header">
  <h1 class="page__title">
    {% if paginator and site.paginate_show_page_num %}
      {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
    {% else %}
      {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
    {% endif %}
  </h1>
  {% if page.summary %}
    <strong itemprop="alternativeHeadline" class="page__lead">{{ page.summary | markdownify | remove: "<p>" | remove: "</p>" }}</strong>
  {% endif %}
</header>