<header class="post-header" itemtype="https://schema.org/CreativeWork" itemscope>
  <h1 id="page-title" class="page__title" itemprop="headline">
    {% if paginator and site.paginate_show_page_num %}
      {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
    {% else %}
      {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
    {% endif %}
  </h1>
  {% if page.summary %}
    <strong class="page__lead" itemprop="alternativeHeadline">{{ page.summary | markdownify | remove: "<p>" | remove: "</p>" }}</strong>
  {% endif %}
</header>