<div aria-hidden="true" id="search-content" class="search-content">
	<div role="dialog" aria-modal="true" aria-labelledby="search-title" id="search-layer" class="search-content__inner-wrap">
		<div class="search-content__input-wrapper">
			<i aria-hidden="true" class="xi-search search__icon"></i>
			<label for="search-input" id="search-title" class="search__title">{{ site.data.ui-text[site.locale].search_label_text }}</label>
			<input type="text" role="combobox" autocomplete="off" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true" aria-owns="search-results" id="search-input" class="search__input">
		</div>

		<div class="search__util-wrapper">
			<p class="search__util__item">최대 {{ site.search_limit | default: 20 }}개 결과 표시</p>
		
			<p class="search__util__item search__count-wrapper">
				<strong class="search__word"></strong> 로 검색한 결과 : <strong class="search__count"></strong>개 검색됨.
			</p>

			{% if site.analytics.provider == 'google' -%}
			<p class="search__util__item search__link-wrapper">
				<a href="javascript:;" target="_blank" rel="noopener noreferrer nofollow" id="google-search-link" class="search__link">
					<span aria-hidden="true">Google에서 검색</span>
				</a>
			</p>
			{% endif -%}
		</div>

		<ul id="search-results" class="search__results"></ul>

		<button type="button" aria-controls="search-layer" class="search__close">
			<i aria-hidden="true" class="xi-close-thin"></i>
			<span class="sr-only">{{ site.data.ui-text[site.locale].search_close_label }}</span>
		</button>
	</div>
</div>