<nav aria-labelledby="skip-link-title" id="skip-links" class="skip-links">
	<strong id="skip-link-title" class="sr-only">{{ site.data.ui-text[site.locale].skip_links }}</strong>
	<a href="#content" class="sr-only">{{ site.data.ui-text[site.locale].skip_content }}</a>
	<a href="#site-nav" class="sr-only">{{ site.data.ui-text[site.locale].skip_primary_nav }}</a>
	
	{% if site.skip_links.to_mastfoot %}
	<a href="#mastfoot" class="sr-only">{{ site.data.ui-text[site.locale].skip_mastfoot }}</a>
	{% endif %}
</nav>