<nav class="skip-links" id="skip-links">
  <strong class="visually-hidden">{{ site.data.ui-text[site.locale].skip_links }}</strong>
  <ul>
    <li>
      <a href="#site-nav" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_primary_nav }}</a>
    </li>
    <li>
      <a href="#content" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_content }}</a>
    </li>
    <li>
      <a href="#mastfoot" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_footer }}</a>
    </li>
  </ul>
</nav>