<section id="page-share" class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h2 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label }}</h2>
  {% endif %}

  {% if site.author.share %}
    {% for link in site.author.share %}
    <a href="{{ link.url | liquify }}" rel="noopener noreferrer nofollow" aria-label="{{ link.label | capitalize }} {{ site.data.ui-text[site.locale].share_on_label }}" class="page__share__btn--{{ link.label | downcase }}" onclick="window.open(this.href, 'window', 'left=20, top=20, width=500, height=500, toolbar=1, resizable=0'); return false;">{{ link.label | capitalize }}</a>
    {% endfor %}
  {% endif %}
</section>