<section class="page__share" id="page-share" aria-labelledby="page-share-title">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h2 class="page__share-title" id="page-share-title">{{ site.data.ui-text[site.locale].share_on_label }}</h2>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" class="btn--twitter" title="Twitter {{ site.data.ui-text[site.locale].share_on_label }}">
    <span>Twitter</span>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" class="btn--facebook" title="Facebook {{ site.data.ui-text[site.locale].share_on_label }}">
    <span>Facebook</span>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" class="btn--linkedin" title="LinkedIn {{ site.data.ui-text[site.locale].share_on_label }}">
    <span>LinkedIn</span>
  </a>
</section>