---
layout: page
title: 카테고리
---

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% for i in (1..categories_max) reversed %}
{% for category in site.categories %}
  {% if category[1].size == i %}
  {% assign categoryPost = site.posts | where: "categories", category[0] %}
  <h2>
    <button type="button" class="archive__btn" id="btn-{{ category[0] | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}" aria-controls="list-{{ category[0] | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}" aria-expanded="false"><span aria-hidden="true">#</span>{{ category[0] }} <small class="archive__list-count" aria-hidden="true">({{ category[1].size }})</small></button>
  </h2>
  
  <div class="archive__list" id="list-{{ category[0] }}" role="region" aria-labelledby="btn-{{ category[0] | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}">
    <ul>
      {% for post in categoryPost %}
      <li{% if categoryPost.size == 1 %} role='presentation'{% endif %}>
        <a href="{{ post.url }}" rel="permalink">{{ post.title }}</a> <span>{{ post.date | date: "%B %d" }}</span>
      </li>
      {% endfor %}
    </ul>

    <a href="#skip-links" class="page__btn--top">
      <span class="visually-hidden">{{ site.data.ui-text[site.locale].move_to_top }}</span>
    </a>
  </div>
  {% endif %}
{% endfor %}
{% endfor %}
