---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" class="{% if site.theme_type == 'type1' %}theme--{{ site.theme_type }}{% endif %}{% if site.theme_type == 'type2' %}theme--{{ site.theme_type }}{% endif %}">
  <head>
    {% include head.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include skip-links.html %}
    {% include masthead.html %}

    {{ content }}

    <footer class="mastfoot" id="mastfoot">
      <div class="mastfoot__inner-wrap">
        {% include mastfoot.html %}
      </div>
    </footer>

    {% include layer.html %}
    {% include scripts.html %}

  </body>
</html>