---
layout: default
---

<div role="main" id="content" class="content-wrapper">
  <article itemscope itemtype="https://schema.org/CreativeWork" class="page">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.summary %}<meta itemprop="description" content="{{ page.summary | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: '%B %d, %Y' }}">{% endif %}

    <section class="page__info-item-wrapper">
      {% if page.date %}
      <span class="page__info-item page__info-item--date"><span class="visually-hidden">{{ site.data.ui-text[site.locale].date_label }}</span> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time></span>
      {% endif %}
      {% if site.post.category_list and page.categories.size > 0 %}
      <h2 class="visually-hidden">{{ site.data.ui-text[site.locale].category_title }}</h2>
        {% for category in page.categories %}<a href="/category-list/#btn-{{ category | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}" class="page__info-item page__info-item--category">{{ category }}</a>{% endfor %}
      {% endif %}
      {% if site.post.tag_list and page.tags.size > 0 %}
      <h2 class="visually-hidden">{{ site.data.ui-text[site.locale].tag_title }}</h2>
        {% for tag in page.tags %}<a href="/tag-list/#btn-{{ tag | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase }}" itemprop="keywords" class="page__info-item page__info-item--tag">{{ tag }}</a>{% endfor %}
      {% endif %}
    </section>

    <section itemprop="text" id="page-content" class="page__content">
      {% if page.toc %}
        <aside class="toc-wrapper toc--fixed">
          <nav aria-labelledby="toc-title" tabindex="0">
            <header>
              <h2 id="toc-title" class="toc__title">{{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h2>
            </header>
            {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
          </nav>
        </aside>
      {% endif %}
      {{ content }}
    </section>

    <footer class="page__meta">
      {% if page.header.image_link %}
      <p class="page__hero-source">Hero image from <a href="{{ page.header.image_link }}" target="_blank" rel="nofollow">{{ page.header.image_author }}</a></p>
      {% endif %}

      {% if page.share %}
        {% include social-share.html %}
      {% endif %}

      {% if site.post.author %}
        <section aria-labelledby="author-name" class="page__author">
          {% include author.html %}
        </section>
      {% endif %}
    </footer>

    {% include post_pagination.html %}
  </article>
  
  {% if site.comments.provider and page.comments == true %}
    {% case site.comments.provider %}
        {% when "disqus" %}
        {% include comments-providers/disqus.html %}
        {% when "livere" %}
        {% include comments-providers/livere.html %}
    {% endcase %}
  {% endif %}
</div>