---
layout: page
title: 태그
---

{%- assign tags_max = 0 -%}
{%- for tag in site.tags -%}
	{%- if tag[1].size > tags_max -%}
		{%- assign tags_max = tag[1].size -%}
	{%- endif -%}
{%- endfor -%}

{%- for i in (1..tags_max) reversed -%}
{%- for tag in site.tags -%}
{%- if tag[1].size == i -%}
{%- assign tagPost = site.posts | where: "tags", tag[0] -%}
{%- assign tagName = tag[0] | url_encode | replace: '%', '0' | replace: '+', '1' | replace: '.', '2' | replace: ',', '3' -%}
<h2>
	<button type="button" aria-controls="tagList-{{ tagName }}" aria-expanded="false" id="tagBtn-{{ tagName }}" class="archive__btn">
		<span aria-hidden="true" class="archive__btn__point">#</span> {{ tag[0] }}
		<small class="archive__list-count">
			<span class="sr-only">{{ site.data.ui-text[site.locale].number_of_posts }}</span> ({{ tag[1].size }})
		</small>
	</button>
</h2>

<div aria-labelledby="tagBtn-{{ tagName }}" id="tagList-{{ tagName }}" class="archive__list">
	<ul>
		{%- for post in tagPost -%}
		<li>
			<a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
			<span class="archive__list__date">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
		</li>
		{%- endfor -%}
	</ul>

	<a href="#tagBtn-{{ tagName }}" class="page__btn-top">
		<i aria-hidden="true" class="xi-arrow-up"></i>
		<span class="sr-only">{{ site.data.ui-text[site.locale].move_to_archive_button }}</span>
	</a>
</div>
{%- endif -%}
{%- endfor -%}
{%- endfor -%}