---
layout: page
title: 태그
---

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

{% for i in (1..tags_max) reversed %}
{% for tag in site.tags %}
  {% if tag[1].size == i %}
  {% assign tagPost = site.posts | where: "tags", tag[0] %}
  {% assign tagName = tag[0] | replace: ' ', '1' | url_encode | replace: '%', '1' | downcase %}
  <h2>
    <button type="button" class="archive__btn" id="btn-{{ tagName }}" aria-controls="list-{{ tagName }}" aria-expanded="false"><span aria-hidden="true">#</span>{{ tag[0] }} <small class="archive__list-count" aria-hidden="true">({{ tag[1].size }})</small></button>
  </h2>

  <div class="archive__list" id="list-{{ tagName }}" role="region" aria-labelledby="btn-{{ tagName }}">
    <ul>
      {% for post in tagPost %}
      <li{% if tagPost.size == 1 %} role='presentation'{% endif %}>
        <a href="{{ post.url }}" rel="permalink">{{ post.title }}</a> <span>{{ post.date | date: "%B %d" }}</span>
      </li>
      {% endfor %}
    </ul>

    <a href="#skip-links" class="page__btn-top">
      <span class="visually-hidden">{{ site.data.ui-text[site.locale].move_to_top }}</span>
    </a>
  </div>
  {% endif %}
{% endfor %}
{% endfor %}